// import global variables
@import "core/settings";

// import Compass, Compass Plugins and any additional mixins
@import "core/helpers";

// import colourscheme
@import "core/colours";



/* ==========================================================================
   Desktop version layout for IE8 due to lack of media queries support
   ========================================================================== */

.layout--span-1-6 {
    @include grid-span(6, 1);

    clear: both;
}

.layout--span-7-12 {
    @include grid-span(6, 7);
}

.layout--span-9-12 {
    @include grid-span(4, 9);
}

.layout--span-1-8,
#rules,
#regform,
#page-login .blockform {
    @include grid-span(8, 1);

    clear: both;
}

/**
 * Don't allow site to collapse smaller than large breakpoint.
 */

.container,
.site-header,
.site-footer,
.site-navigation ul {
    min-width: $breakpoint-3;
}

/**
 * Desktop version of navigation menu.
 */

.site-navigation {
    .js & {
        max-height: none;
    }

    ul {
        width: 90%;
    }

    li {
        float: left;
        border: 0 !important;
    }

    a {
        @include adjust-font-size-to(20px, 1);

        margin: 0 0.4em 0.4em -0.4em;
        padding: 0.4em;
        font-weight: normal;
    }
}

.nav-toggle {
    display: none;
}

.block2col .blockmenu {
    float: right;
    width: 22.8571429%;
}

.block2col .block,
.block2col .blockform {
    float: left;
    width: 74.2857143%;
}

.community-details,
.host-details {
    display: block;
}

// hide forums icons in IE8 due to lack of `nth-child` support
#page-index .icon {
    display: none;
}



/* ==========================================================================
   Fallbacks for unsupported browser features
   ========================================================================== */

/**
 * PNG fallback for lack of SVG support.
 */

h1.masthead a {
    width: 320px;
    height: 52px;
    background-image: url("../img/branding/textpattern/textpattern.png");
    background-size: 320px 52px;
}

.search-form input[type="search"],
.social-channels a {
    background-image: url("../img/branding/misc/icon-sprite.png");
}



/* ==========================================================================
   Fix for reponsive images in IE 8
   ========================================================================== */

img {
    width: auto;
}
