// import global variables
@import "setup/settings";

// import any additional mixins
@import "setup/helpers";

// import colourscheme
@import "setup/colours";



/* ==========================================================================
   Styling and layout for all media
   ========================================================================== */

@import "modules/base";



/* ==========================================================================
   Styling and layout for screen media
   ========================================================================== */

@media screen {

    @import "modules/grid";
    @import "modules/layout";
    @import "modules/navigation";
    @import "modules/links";
    @import "modules/typography";
    @import "modules/alerts";
    @import "modules/embedded-content";
    @import "modules/tables";
    @import "modules/lists";
    @import "modules/forms";
    @import "modules/buttons";
    @import "modules/code-highlighting";
    @import "modules/social";
    @import "modules/misc";
    @import "modules/http-errors";
    @import "modules/icons";

    @import "modules/fluxbb/layout";
    @import "modules/fluxbb/layout_admin";
    @import "modules/fluxbb/navigation";
    @import "modules/fluxbb/indicators";
    @import "modules/fluxbb/pagination";
    @import "modules/fluxbb/icons";

}

@import "modules/responsive";



/* ==========================================================================
   Styling and layout for print media
   ========================================================================== */

@media print {

    @import "modules/print";

}
