DirectoryIndex index.php index.html
Options -Indexes

ErrorDocument 401 "401"
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

<ifModule mod_headers.c>
    Header unset P3P
    Header append X-XSS-Protection "1; mode=block"
    Header append X-Frame-Options "DENY"
    Header append X-Content-Type-Options "nosniff"
    Header append Content-Security-Policy "default-src 'self'; font-src themes.googleusercontent.com https://themes.googleusercontent.com; img-src 'self' * https://*; style-src 'self' 'unsafe-inline' ajax.googleapis.com fonts.googleapis.com gist.github.com platform.twitter.com https://ajax.googleapis.com https://fonts.googleapis.com https://gist.github.com https://platform.twitter.com; script-src 'self' ajax.googleapis.com www.google.com gist.github.com https://www.google.com https://ajax.googleapis.com https://gist.github.com *.google-analytics.com s3.buysellads.com https://s3.buysellads.com https://*.google-analytics.com https://*.twitter.com; frame-src *.youtube-nocookie.com https://*.youtube-nocookie.com *.twitter.com https://*.twitter.com twitter.com https://twitter.com"
</ifModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} /cache/ [OR]
    RewriteCond %{REQUEST_FILENAME} /include/ [OR]
    RewriteCond %{REQUEST_FILENAME} /lang/ [OR]
    RewriteCond %{REQUEST_FILENAME} /plugins/
    RewriteRule ^(.*) - [F]
</IfModule>
