<?php

/**
 * This needs to be a long, secure, secret key.
 *
 * Use a number of different symbols, and hundreds of characters.
 */

$cookie_seed = '';

/**
 * Database name.
 */

$db_name = '';

/**
 * Database username.
 */

$db_username = '';

/**
 * Database password.
 */

$db_password = '';

/**
 * Database host.
 */

$db_host = 'localhost';

/**
 * The forum base URL.
 */

define('TEXTPATTERN_FORUM_BASE_URL', 'http://forum.textpattern.test');

/**
 * A key needed to run tasks.
 *
 * Tasks can be run by access URL:
 * http://forum.textpattern.test/?textpattern_fluxbb_tasks={KEY}
 */

define('TEXTPATTERN_TASKS_KEY', '');

/**
 * Do not change anything after this line.
 *
 * These setting must not be altered.
 */

$db_type = 'mysqli';
$db_prefix = 'flx_';
$p_connect = false;
$cookie_name = 'textpattern-forum';
$cookie_domain = '';
$cookie_path = '/';
$cookie_secure = 0;

define('PUN', 1);
define('FORUM_BEHIND_REVERSE_PROXY', 1);
define('PUN_NEW_MEMBER', 5);

include PUN_ROOT.'/lib/Textpattern/Bootstrap.php';
