@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    body {
        scroll-behavior: auto;
    }

    .js #site-navigation,
    #site-navigation.site-navigation-open,
    .search-form [type="search"] {
        transition-duration: 0;
    }
}
