@use "../setup";

/* Alert messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success {
    color: var(--clr-success-text);
}

.warning {
    color: var(--clr-warning-text);
}

.error {
    color: var(--clr-error-text);
}

.information {
    color: var(--clr-info-text);
}

/**
 * Alert boxes.
 *
 * 1. Prevent really, really long words from breaking layout.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block {
    padding: 0.5em 1em;
    border: 1px solid;
    border-radius: setup.$border-radius / 2;
    word-wrap: break-word; /* 1 */

    &.success {
        border-color: var(--clr-success-brdr);
        background: var(--clr-success-bkgd);
    }

    &.warning {
        border-color: var(--clr-warning-brdr);
        background: var(--clr-warning-bkgd);
    }

    &.error {
        border-color: var(--clr-error-brdr);
        background: var(--clr-error-bkgd);
    }

    &.information {
        border-color: var(--clr-info-brdr);
        background: var(--clr-info-bkgd);
    }
}

