/* Reset
   ========================================================================== */

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: manipulation;
}


/* Clearfix
   ========================================================================== */

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 *
 * More info: http://nicolasgallagher.com/micro-clearfix-hack/
 */

header,
footer,
nav ul,
nav ol,
.clearfix {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}
