/* Embedded content
   ========================================================================== */

/* responsive images, remove the gap between images and the bottom of their containers,
   remove border when inside `<a>` element in IE8-9. */
img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* responsive embedded widgets */
.embed-video {
    position: relative;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.embed-youtube {
        padding-top: 75%;
    }

    &.embed-vimeo {
        padding-top: 56.25%;
    }
}
