@use "../setup";

/* Embedded content
   ========================================================================== */

/**
 * Make embedded elements responsive.
 */

img,
video {
    max-width: 100%;
    height: auto;
}

/**
 * Remove the gap between images and the bottom of their containers.
 */

img {
    vertical-align: middle;
}

/**
 * Make embedded videos responsive.
 *
 * TODO: use `aspect-ratio: var(--aspect-ratio, 16 / 9);` when browser support
 * is better.
 */

.embed-video {
    position: relative;
    padding-top: 56.25%; // TODO: see comment above.

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
