/* Embedded content
   ========================================================================== */

/**
 * Images.
 *
 * 1. Make embedded images responsive.
 * 2. Remove the gap between images and the bottom of their containers.
 */

img {
    max-width: 100%; /* 1 */
    height: auto; /* 1 */
    vertical-align: middle; /* 2 */
}

/**
 * Make embedded videos responsive.
 */

.embed-video {
    position: relative;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
