/* Icons
   ========================================================================== */

/**
 * Only using heart icon on this site.
 *
 * Example HTML:
 *
 * <span class="ui-icon ui-icon-heart"></span>
 *
 */

.ui-icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: text-bottom;
}

.ui-icon-heart {
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnPjxzdmcgdmVyc2lvbj0iMS4xIiBiYXNlUHJvZmlsZT0iZnVsbCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0xMC41LDJDMTMsMS41LDE1LjQ3OSw0LjE3NCwxNCw3LjVBMTQuMzA5LDE0LjMwOSwwLDAsMSw4LDE0LDE0LjMwOSwxNC4zMDksMCwwLDEsMiw3LjVDLjUyMSw0LjE3NCwzLDEuNSw1LjUsMkEzLjIsMy4yLDAsMCwxLDgsNCwzLjIsMy4yLDAsMCwxLDEwLjUsMloiLz48L3N2Zz4=");
}

/**
 * Red heart.
 */

.button:hover,
.button:active,
.button:focus {
    .ui-icon-heart {
        background-image: url("data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnPjxzdmcgdmVyc2lvbj0iMS4xIiBiYXNlUHJvZmlsZT0iZnVsbCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNlZTAwMDAiIGQ9Ik0xMC41LDJDMTMsMS41LDE1LjQ3OSw0LjE3NCwxNCw3LjVBMTQuMzA5LDE0LjMwOSwwLDAsMSw4LDE0LDE0LjMwOSwxNC4zMDksMCwwLDEsMiw3LjVDLjUyMSw0LjE3NCwzLDEuNSw1LjUsMkEzLjIsMy4yLDAsMCwxLDgsNCwzLjIsMy4yLDAsMCwxLDEwLjUsMloiLz48L3N2Zz4=");
    }
}
