/* Icons
   ========================================================================== */

/**
 * Only using heart icon on this site.
 *
 * Example HTML:
 *
 * <span class="ui-icon ui-icon-heart"></span>
 *
 */

.ui-icon {
    display: inline-block;
    position: relative;
    top: -0.07em;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: text-bottom;
}

.ui-icon-heart {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' d='M10.5 2c2.5-.5 4.979 2.174 3.5 5.5C12 12 8 14 8 14s-4-2-6-6.5C.522 4.174 3 1.5 5.5 2 7.522 2.404 8 4 8 4s.479-1.596 2.5-2z'/%3E%3C/svg%3E");

}

/**
 * Red heart.
 */

.button:hover,
.button:active,
.button:focus {
    .ui-icon-heart {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23e00' d='M10.5 2c2.5-.5 4.979 2.174 3.5 5.5C12 12 8 14 8 14s-4-2-6-6.5C.522 4.174 3 1.5 5.5 2 7.522 2.404 8 4 8 4s.479-1.596 2.5-2z'/%3E%3C/svg%3E");
    }
}
