/* Icons
   ========================================================================== */

/**
 * Only using heart icon on this site.
 *
 * Example HTML:
 *
 * <span class="ui-icon ui-icon-heart"></span>
 *
 */

.ui-icon {
    display: inline-block;
    position: relative;
    top: -0.07em;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: text-bottom;
}

.ui-icon-heart {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' d='M10.5,2C13,1.5,15.479,4.174,14,7.5A14.309,14.309,0,0,1,8,14,14.309,14.309,0,0,1,2,7.5C.521,4.174,3,1.5,5.5,2A3.2,3.2,0,0,1,8,4,3.2,3.2,0,0,1,10.5,2Z'/%3E%3C/svg%3E");
}

/**
 * Red heart.
 */

.button:hover,
.button:active,
.button:focus {
    .ui-icon-heart {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23e00' d='M10.5,2C13,1.5,15.479,4.174,14,7.5A14.309,14.309,0,0,1,8,14,14.309,14.309,0,0,1,2,7.5C.521,4.174,3,1.5,5.5,2A3.2,3.2,0,0,1,8,4,3.2,3.2,0,0,1,10.5,2Z'/%3E%3C/svg%3E");
    }
}
