/* Lists
   ========================================================================== */

/**
 * Address paddings set differently.
 */

menu,
ol,
ul {
    padding: 0 0 0 2em;
}

/**
 * Remove margins from nested lists.
 */

li {
    > ul,
    > ol {
        margin: 0;
    }
}

/**
 * Address margins set differently.
 */

dd {
    margin: 0 0 0 2em;
}

/**
 * Italicise definition terms.
 */

dt {
    font-style: italic;
}
