@use "../setup";

/* Lists
   ========================================================================== */

/**
 * Address paddings set differently.
 */

menu,
ol,
ul {
    padding: 0 0 0 1.75em;
}

/**
 * Remove margins from nested lists.
 */

li {
    > ul,
    > ol {
        margin: 0;
    }
}

/**
 * CSS Lists and Counters Module Level 3 list marker styling.
 */

li::marker {
    color: var(--clr-text-promoted);
}

/**
 * Style for definition lists.
 */

dd {
    margin: 0 0 0 1.75em;
}

/**
 * Visually stronger definition terms.
 */

dt {
    color: var(--clr-text-promoted);
    font-weight: bolder;
}
