/* Miscellenaeous
   ========================================================================== */

/* hide text but still allow screen reader access */
.accessibility {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
