@use "../setup";
@use "sass:math";

/* ==========================================================================
   Styling and layout for screen media at 2nd breakpoint
   ========================================================================== */

@media (min-width: setup.$breakpoint-2) {

    /**
     * Grid container.
     */

    .layout-container {
        display: grid;
        gap: 0 2em;
        grid-template-columns: repeat(12, 1fr);
    }

    /**
     * Generate sizes all for grid column cells.
     *
     * Example HTML:
     *
     * <div class="layout-1col"></div>
     *
     * <div class="layout-2col">
     * <div class="layout-2col">
     *
     * <div class="layout-3col-2span"></div>
     * <div class="layout-3col"></div>
     */

    .layout-1col {
        grid-column: span 12;
    }

    .layout-2col {
        grid-column: span 6;
    }

    .layout-3col {
        grid-column: span 4;
    }

    .layout-3col-2span {
        grid-column: span 8;
    }

    /**
     * Changes in styling for site header.
     */

    .masthead a {
        width: 320px;
        height: 52px;
        background-size: 320px 52px;
    }

    /**
     * Changes in styling for search form.
     */

    .search-form {
        top: 0.75em;
        right: 0;

        [type="search"] {
            width: 254px;
        }
    }

    @include setup.dark-mode {
        .search-form [type="search"] {
            background-color: var(--clr-bkgd-form);
        }
    }

    /**
     * Changes in styling for navigation.
     */

    #site-navigation {
        transition: none;

        .js & {
            max-height: none;
            overflow: visible;
        }

        ul {
            display: flex;
            width: 90%;
        }

        li {
            border: 0;

            &:first-child,
            &:last-child {
                border: 0;
            }
        }

        a {
            margin: 0 0.2727273em 0.2727273em -0.2727273em; // 6px / 22px
            padding: 0 0.2727273em; // 6px / 22px
            border: 1px solid var(--clr-bkgd);
            border-radius: math.div(setup.$border-radius, 2);
            font-size: 1.375em; // 22px / 16px
            font-weight: 400;

            &:focus {
                border-color: var(--clr-focus);
                outline: 2px solid transparent; // Allows for repainting in high contrast modes.
            }
        }
    }

    @include setup.dark-mode {
        #site-navigation ul {
            background-color: var(--clr-bkgd);
        }
    }

    #site-navigation-toggle,
    .js #site-navigation-toggle {
        display: none;
    }

    /**
     * Changes in styling for site footer.
     */

    .wrapper-footer {
        contains-intrinsic-size: 0 374px;
    }

    .community-details,
    .host-details {
        display: block;
    }

    /**
     * Forum header area.
     */

    #brdwelcome {
        li {
            display: inline;

            span::before {
                content: " \2605 \0020";
                opacity: 0.5;
            }
        }

        li:first-child span::before {
            content: none;
        }
    }

    /**
     * Limit width of login panels on larger screens.
     */

    #rules,
    #regform,
    #page-login .blockform {
        width: 66.666%;
    }

    /**
     * Forum layouts with side menus.
     */

    .block2col .blockmenu {
        width: 22.8571429%;
        float: right;
    }

    /**
     * Forum layouts with side menus.
     */

    .block2col .block,
    .block2col .blockform {
        width: 74.2857143%;
        float: left;
    }

    /**
     * Post reply section.
     */

    #quickpost {
        fieldset,
        .buttons {
            padding-left: 31.4285713%;
        }
    }
}

@media (max-width: setup.$breakpoint-2) {

    /**
     * Changes in styling for search form.
     */

    .search-form {
        [type="search"] {
            padding-right: 0;
            cursor: pointer;

            &:focus {
                width: 254px;
                cursor: auto;
            }
        }
    }

    /**
     * Hide illustrated icons on main index page for small screen widths.
     */

    #page-index .icon {
        display: none;
    }

    /**
     * User bans table.
     */

    #bans1 {
        .tcl {
            width: auto;
        }

        .tc2,
        .tc3 {
            display: none;
        }
    }

    /**
     * User search table (admin).
     */

    #users2 {
        .tcl {
            width: auto;
        }

        .tc2,
        .tc4 {
            display: none;
        }
    }

    /**
     * Forum header area.
     */

    #brdwelcome {
        .conl {
            margin-bottom: 0;
            float: none;
        }

        .conr {
            margin-top: 0;
            float: none;
        }
    }

    /**
     * Forum announcement box.
     */

    #announce {
        .hd h2 {
            float: none;
        }

        .box {
            float: none;
        }
    }

    /**
     * Forum breadcrumbs, postlink and pagination layout.
     */

    .pagepost {
        .pagelink,
        .postlink {
            margin: 0.5em 0;
            float: none;
        }
    }

    /**
     * Forum layouts with side menus.
     */

    .blockform [type="email"],
    .blockform [type="number"],
    .blockform [type="password"],
    .blockform [type="text"],
    .blockform [type="url"],
    .blockform select {
        width: 100%;
    }

    /**
     * Forum topic list, post list and search list page layout.
     */

    #page-index,
    #page-viewforum,
    #page-moderate,
    #page-search {
        .tc2,
        .tc3 {
            // Hide columns at small screen widths
            display: none;
        }

        .tcr {
            // Widen column at small screen widths
            width: 36%;
        }
    }

    /**
     * Post author info section.
     */

    .postleft {
        position: relative;
        width: auto;
        min-height: 60px;
        padding-right: 86px;
        float: none;

        dl {
            margin-bottom: 1em;
        }
    }

    .postavatar {
        position: absolute;
        top: 0;
        right: 1em;

        img {
            margin: 0;
        }
    }

    /**
     * Post author message section.
     */

    .postright {
        width: auto;
        padding: 1px 1em;
        float: none;
        border-radius: 0;
    }

    /**
     * User search table.
     */

    #users1 {
        .tcl {
            width: 50%;
        }

        .tc2 {
            display: none;
        }
    }

    /**
     * Don't let long words break mobile layouts.
     */

    #page-viewforum .tclcon,
    #page-moderate .tclcon,
    #page-search .tclcon {
        hyphens: auto;
    }

    /**
     * Forum navigation menu.
     */

    #brdmenu {
        ul {
            border: 0;
        }

        a {
            margin-top: 0.25em;
            border-radius: math.div(setup.$border-radius, 2);
            box-shadow: none;
        }
    }

    #brdmenu .isactive a,
    #navextra1 a {
        border-bottom-color: var(--clr-brdr);

        &:hover {
            border-bottom-color: var(--clr-brdr-x-dark);
        }
    }

    @include setup.dark-mode {
        #brdmenu .isactive a,
        #navextra1 a {
            border-bottom-color: var(--clr-brdr-lite);

            &:hover {
                border-bottom-color: var(--clr-brdr);
            }
        }
    }
}

@media (max-width: setup.$breakpoint-3) {

    /**
     * User search table (admin).
     */

    #users2 .tc3 {
        display: none;
    }
}
