@use "../setup";

/* ==========================================================================
   Styling and layout for screen media at 2nd breakpoint
   ========================================================================== */

@media screen and (min-width: setup.$breakpoint-2) {

    /**
     * Grid container.
     */

    .layout-container {
        display: grid;
        gap: 0 2em;
        grid-template-columns: repeat(12, 1fr);
    }

    /**
     * Generate sizes all for grid column cells.
     *
     * Example HTML:
     *
     * <div class="layout-1col"></div>
     *
     * <div class="layout-2col">
     * <div class="layout-2col">
     *
     * <div class="layout-3col-2span"></div>
     * <div class="layout-3col"></div>
     */

    .layout-1col {
        grid-column: span 12;
    }

    .layout-2col {
        grid-column: span 6;
    }

    .layout-3col {
        grid-column: span 4;
    }

    .layout-3col-2span {
        grid-column: span 8;
    }

    /**
     * Changes in styling for site header.
     */

    .masthead a {
        width: 320px;
        height: 52px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 52'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='29.112' x2='34.8265' y1='34.831' y2='29.1165'%3E%3Cstop offset='.125' stop-color='%237b6c35'/%3E%3Cstop offset='.875' stop-color='%23b9aa69'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='29.1062' x2='34.7248' y1='34.8248' y2='29.2051'%3E%3Cstop offset='0' stop-color='%232b2414'/%3E%3Cstop offset='.75' stop-color='%23624e22'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='33.5888' x2='29.6568' y1='30.3297' y2='34.2617'%3E%3Cstop offset='.5' stop-color='%232d2400'/%3E%3Cstop offset='.875' stop-color='%23211700'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='8.218' x2='15.1805' y1='8.217' y2='15.1795'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23666'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='3.9167' x2='19.4228' y1='19.4827' y2='3.9767'%3E%3Cstop offset='0' stop-color='%230a0a0a'/%3E%3Cstop offset='.5' stop-color='%230f0f0f'/%3E%3Cstop offset='1' stop-color='%231a1a1a'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='.473' x2='7.4345' y1='15.9619' y2='22.9235'%3E%3Cstop offset='0' stop-color='%23999'/%3E%3Cstop offset='1' stop-color='%231a1a1a'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='15.9637' x2='22.9258' y1='.4732' y2='7.4352'%3E%3Cstop offset='0' stop-color='%23ccc'/%3E%3Cstop offset='1' stop-color='%23333'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='35.631' x2='50.604' y1='11.481' y2='11.481'%3E%3Cstop offset='.125' stop-color='%23cdcdcb'/%3E%3Cstop offset='.875' stop-color='%23a09ea1'/%3E%3C/linearGradient%3E%3Cpath d='m49.8 49.8c-1.8 1.8-3.7 2.7-4.4 1.9-.3-.3 0 0 0 0-.1-.1-4.9-5.3-10.2-10.7-4.9-4.9-10.6-9.8-14.1-13.3s-9.3-10.1-9.4-10.1l-.4-.4 2.8-3.1 3-2.8.4.4s6.6 5.8 10.1 9.4c3.5 3.5 8.4 9.2 13.3 14.1 5.4 5.4 10.5 10 10.8 10.3.7.5 0 2.4-1.9 4.3z'/%3E%3Cpath d='m27.2 21.5c-3.5-3.5-10-9.3-10-9.3l-2.6 2.4-2.4 2.6s5.8 6.6 9.3 10c3.5 3.5 9.2 8.4 14.1 13.3 5.4 5.4 10.1 10.6 10.2 10.7s1.1.5 3.5-1.9 2-3.4 1.9-3.5-5.4-4.9-10.7-10.2c-4.8-4.9-9.8-10.6-13.3-14.1z' fill='url(%23a)'/%3E%3Cpath d='m48.8 49.8c-.2 0-.3-.2-.6-.4-.2-.2-5.2-5.3-10.5-10.6-2-2-5.9-5.6-6.5-6.1-1-.8-.9-1.7-.4-2.5.5-.9 1.8-1.9 2.6-2-.8-.9-1.6-1.8-2.4-2.6-2.3 1.3-5 2.9-5.4 2.5-1.9-1.9-6.6-6.6-8.6-8.6-.9-.9-.8-1.8-.3-2.8s1.9-2.1 2.8-2.4c-1.4-1.2-2.3-2.1-2.3-2.1l-2.6 2.4-2.4 2.6s5.8 6.6 9.3 10c3.5 3.5 9.2 8.4 14.1 13.3 5.4 5.4 10.1 10.6 10.2 10.7s1 .5 3-1.4z' fill='url(%23b)'/%3E%3Cpath d='m39.3 36.5s-.7-.8-1.5-1.6-1.7-1.6-1.7-1.6 1 1.1 1.5 1.6c.6.5 1.7 1.6 1.7 1.6zm-12.2-12.8c-.8-.8-2-2-2-2s1.2 1.5 1.9 2.2.9.6.1-.2zm-1.8 3.1c-1.2-1.2-3.2-3.1-6.5-6.3-2.5-2.5-4.5-4.4-5.1-4.9l-.1.2c.9.8 4.6 4.4 6.6 6.4 2.3 2.3 6.3 6 7.3 6.9s3.1 2.6 4.6 4.2c1.5 1.5 3.2 3 3.2 3s-2.6-2.7-3.8-3.9c-1.1-1.4-4.7-4.2-6.2-5.6zm-.7-5.5-4.1-4.1-4.2-4.2c.5.6 2.4 2.7 4.1 4.4 2 2 4.2 3.9 4.2 3.9zm-5-2.9c.3.3 1.2 1.2 1.9 1.8.6.6 2 2.1 2.3 2.5 1.3 1.3 2.3 2.2 3.9 3.8s5.5 5.6 6.3 6.4c1.3 1.3 3.1 3.2 4.1 4.2.9.9 3 2.9 4.1 4s2.5 2.4 3.4 3.4c.9.9 3.5 3.1 3.5 3.1s-4.1-4-5.5-5.5c-1.5-1.5-3.3-3.1-4.2-4-1.3-1.3-3.3-3.5-4.4-4.5-1.1-1.1-1.4-1.3-1.6-1.5s-2.5-2.6-3-3.1c-.6-.6-5.8-5.9-6.7-6.8-1-1-2-1.9-2.4-2.3s-1.1-1.2-1.5-1.7c-.4-.4-1.2-1.1-1.7-1.6s-1.8-1.7-2.6-2.6l-.5.2c1.4 1.4 2.3 1.9 2.8 2.5.6.5 1.5 1.4 1.8 1.7zm3.2 5.4c1 1 5.1 4.7 5.1 4.7s-2.8-2.7-4.2-4.1-3.2-3.3-4.9-5c-1.5-1.4-3.8-3.7-4.5-4.4l-.2.2c1 .9 4.1 3.9 5 4.8 1.1 1.1 2.7 2.9 3.7 3.8zm20.9 19.4c-1-1-2-1.9-2.9-2.8s-3.5-3.6-3.5-3.6 2.7 3 3.6 4c1 1 1.7 1.5 2.9 2.6 1.2 1.2 2.9 3 3.6 3.7.6.6 1.8 1.5 2.3 1.9l.1-.1c-.6-.5-2.4-2.1-3.2-2.9-1-1-1.9-1.8-2.9-2.8zm3.5 1-2.8-2.8c-.4-.4-1.7-1.4-1.7-1.4s.9 1 1.2 1.3 1.7 1.4 2.7 2.5c.9.9 3.4 3.4 4 4.1.1-.1.2-.2.2-.4-.6-.7-3-2.8-3.6-3.3zm-25.5-22.8c-1.1-1.1-2.5-2.6-2.9-3.1-1.1-1.1-3.3-3-4.1-3.8l-.1.1c.8.8 3.2 3 4.7 4.5.9 1 2.4 2.3 2.4 2.3zm-.9-.5c1.2 1.2 10.2 10 11.3 11.1s2.5 2.6 3.1 3.2c.7.7 2.5 2.6 2.5 2.6s-2.5-2.8-4-4.3-5-5.1-6.7-6.8c-1.1-1.1-6.2-5.8-6.2-5.8z' fill='%236b5600'/%3E%3Cpath d='m35.3 39c-1.7-1.7-4.9-4.7-6.2-6.1-.2-.2-3-3-3.6-3.6s-5.8-5.3-6.7-6.2c-1-1-2-2.3-2.4-2.7s-1.2-1.3-1.6-1.7-1.1-1.1-1.6-1.7c-.2-.2-.3-.3-.4-.3l-.1.1c0 .1.1.2.3.4.6.6 1.3 1.4 1.6 1.8l2 2c.6.6 1.9 2 2.2 2.4 1.3 1.3 2.4 2 4 3.6s5.4 5.4 6.1 6.2c1.3 1.3 3.3 3 4.2 3.9s3 3.1 4.1 4.2 2.5 2.5 3.4 3.5c.9.9 3.5 3.3 3.5 3.3-3.9-4-3.8-4.1-5.1-5.5-1.5-1.4-2.8-2.7-3.7-3.6zm8.7 7c-1.3-1.3-2.3-2.4-3.7-3.8s-3-2.9-4.2-4.1-4.8-4.7-4.8-4.7 3.5 3.7 4.9 5l4 4c1.6 1.6 4 4.1 5 5.1.8.8 3.1 2.8 3.1 2.8l.4-.3c-.2.1-2.8-2.1-4.7-4zm-26.8-25.3c1.2 1.2 8.5 8 9.5 9.1s5.8 5.5 5.8 5.5-3.2-3.2-4.7-4.8-7.3-6.7-9.1-8.6-5-5.1-5-5.1l-.4.2s2.7 2.5 3.9 3.7zm29.1 29.5c-.9-.9-1.8-1.7-1.8-1.7s1 1.3 1.5 1.8l.9.9c.1 0 .2-.1.3-.1-.2-.2-.5-.5-.9-.9zm-19.2-22.4c.5.5.8.7.8.7zm3.4 3.7c0-.1 0-.2 0-.3-1.1-.9-2.6-2.2-3.8-3.2h-.1c.5.4.8.7 1.1.9.6.6 1.7 1.5 2.8 2.6zm.2-1.1c-1-1-2-2.1-2.8-2.9-.1 0-.2.1-.2.1l3 2.9c-.1 0-.1-.1 0-.1zm-12.5-15.4-1.9-2c.3.3 1 1.1 1.8 2zm12.9 14.7c-.3-.4-.6-.7-.8-.8-.2-.2-.9-.9-1.7-1.7 0 0-.1 0-.1.1.7.8 1.7 1.7 2.6 2.6-.1-.1-.1-.1 0-.2zm-14.6-12.5c-.9-.9-1.8-1.8-2.2-2.2-.1.1-.1.2-.2.2.5.4 1.4 1.3 2.3 2.2 0-.1.1-.1.1-.2zm.8-1.4c-.6-.6-1.4-1.4-2-1.9l-.3.2c.9.9 1.6 1.4 2.1 1.8.1.1.1 0 .2-.1zm-1 2.1c-1.2-1.1-2.1-2-2.5-2.4-.1.1-.1.1-.1.2.5.4 1.5 1.4 2.7 2.5 0 0-.1-.2-.1-.3zm.4-1.3c0-.1.1-.1.1-.2-.9-.8-1.7-1.5-2.1-1.9l-.1.1-.1.1c.5.3 1.3 1.1 2.2 1.9z' fill='url(%23c)'/%3E%3Cpath d='m16.7 0s1.4 1 3.5 3.1c2.2 2.2 3.1 3.5 3.1 3.5v1.2l-15.4 15.6h-1.2s-1.8-1.4-3.5-3.1c-2.2-2.2-3.2-3.6-3.2-3.6v-1.2l15.5-15.5z'/%3E%3Cpath d='m16.5.6h-.7l-15.2 15.2v.7s.8 1.1 2.9 3.3c2.1 2.1 3.3 2.9 3.3 2.9h.7l15.3-15.1v-.7s-.8-1.1-2.9-3.3c-2.2-2.2-3.4-3-3.4-3z' fill='url(%23d)'/%3E%3Cpath d='m16.5.6h-.7l-15.2 15.2v.7s.8 1.1 2.9 3.3c2.1 2.1 3.3 2.9 3.3 2.9h.7l15.3-15.1v-.7s-.8-1.1-2.9-3.3c-2.2-2.2-3.4-3-3.4-3z' fill='url(%23d)'/%3E%3Cpath d='m22.2 7.4s-4.2 4.5-7.2 7.5-7.5 7.2-7.5 7.2-1.7-.9-3.5-2.7c-1.9-1.8-2.8-3.4-2.8-3.4s4.3-4.5 7.3-7.5 7.5-7.2 7.5-7.2 1.6.9 3.4 2.8c1.9 1.7 2.8 3.3 2.8 3.3z' fill='url(%23e)'/%3E%3Cpath d='m7.4 22.2s-1.7-.9-3.5-2.7c-1.8-1.9-2.7-3.5-2.7-3.5l-.6-.2v.7s.8 1.1 2.9 3.3c2.1 2.1 3.3 2.9 3.3 2.9h.7z' fill='url(%23f)'/%3E%3Cpath d='m22.8 7.6v-.7s-.8-1.1-2.9-3.3c-2.1-2.1-3.3-2.9-3.3-2.9h-.7l.1.5s1.6.9 3.4 2.8c1.8 1.8 2.8 3.4 2.8 3.4z' fill='url(%23g)'/%3E%3Cpath d='m5.2 49.3c-1.4-1.4-2.6-3.2-2.6-3.2l1.4-1.4s1.5-.4 2.4-1.3l28.9-28.9c1.8-1.8 3.8-5.9 3.8-5.9l5.1-5.1 1.3-.9 6.5 6.6-.9 1.3-5.1 5.1s-4 1.9-5.9 3.8l-28.9 28.8c-.9.9-1.3 2.4-1.3 2.4l-1.4 1.4s-1.9-1.3-3.3-2.7z'/%3E%3Cpath d='m44.5 4-4.9 4.9s-1.2 5.1-3 6.9l-1 1 2.2 2.2 1-1c1.9-1.9 6.9-3 6.9-3l4.9-4.9z' fill='url(%23h)'/%3E%3Cpath d='m37.8 19 .9.9 1-1c1.9-1.9 6-3.9 6-3.9s-5.1 1.2-6.9 3z' fill='%23616161'/%3E%3Cpath d='m34.7 15.9.9.9 1-1c1.9-1.9 3-6.9 3-6.9s-2 4.2-3.9 6z' fill='%23ebe9e9'/%3E%3Cpath d='m35.7 16.7-28 28c-1.1 1.1-2.3 1.6-2.3 1.6l2.9 2.9s.5-1.2 1.6-2.3l28-28z' fill='%23fc3'/%3E%3Cpath d='m3.5 46.1s1.2 1.7 2.2 2.7 2.8 2.3 2.8 2.3z' fill='%23bfbfbf'/%3E%3Cpath d='m50.6 10.1.6-.8-5.8-5.8-.9.5' fill='%23ebe9e9'/%3E%3Cpath d='m7.4 50.1.9-.9 1.1 1.1-.9.9z' fill='%233d2812'/%3E%3Cpath d='m4.5 47.2-1.1-1.1.9-.9 1.1 1.1z' fill='%23e2d9ac'/%3E%3Cpath d='m8.3 49.2-.9.9-2.9-2.9.9-.9z' fill='%23fcc332'/%3E%3Cpath d='m38.8 19.8-.9-.9-28 28c-1.1 1.1-1.6 2.3-1.6 2.3l1.1 1.1s.4-1.4 1.4-2.5z' fill='%23473015'/%3E%3Cpath d='m34.8 15.8-28 28c-1.1 1.1-2.5 1.4-2.5 1.4l1.1 1.1s1.2-.5 2.3-1.6l28-28z' fill='%23ede5b2'/%3E%3Cpath d='m93.5 42v-1.8s-1.6-.5-2.4-.7c-.6-.2-1.4-.3-2.2-.5v-26h7l2.2 6h1.8c.1-.6.2-1.2.2-2 .1-.8.2-2 .2-2.7s.1-1 .2-1.8c0-.8.1-1.2.1-1.8v-.7h-28.4v.7c0 .6.1 1.1.1 1.8 0 .8.1 1 .2 1.8s.2 2 .2 2.7c.1.8.2 1.4.2 2h1.8l2.2-6h7v26c-.7.1-1.5.3-2.2.5s-2.4.7-2.4.7v1.8zm24.5-21.4c-.9-.7-1.9-1.2-3.1-1.4-1.1-.3-2.3-.4-3.5-.4-3.6 0-6.4 1-8.4 3.1-2 2-3 5-3 8.8 0 1.8.3 3.4.8 4.9.5 1.4 1.3 2.7 2.3 3.8 1 1 2.3 1.9 3.8 2.4 1.5.6 3.3.8 5.2.8.9 0 1.8-.1 2.7-.3s1.7-.5 2.4-.8 1.4-.7 2-1.2 1-1 1.3-1.5l.1-.2-1.1-1.1-.2.2c-.5.4-1.4.8-2.5 1.1s-2.3.4-3.4.4c-1.4 0-2.5-.2-3.5-.7-1-.4-1.8-1-2.5-1.8s-1.2-1.7-1.5-2.7c-.3-.9-.5-1.9-.5-3h15.2l.1-.3c.1-.6.2-1.2.3-1.7s.1-1 .1-1.5c0-1.6-.3-3-.8-4.1-.7-1.2-1.4-2.1-2.3-2.8zm-6.9.6c1.5 0 2.6.5 3.3 1.5s1.1 2.4 1.1 4.1c0 .2 0 1-.1 1.1h-9.9c.2-2.5.8-4.2 1.6-5.2 1-1 2.3-1.5 4-1.5zm157.9-.6c-.9-.7-1.9-1.2-3.1-1.4-1.1-.3-2.3-.4-3.5-.4-3.6 0-6.4 1-8.4 3.1-2 2-3 5-3 8.8 0 1.8.3 3.4.8 4.9.5 1.4 1.3 2.7 2.3 3.8 1 1 2.3 1.9 3.8 2.4 1.5.6 3.3.8 5.2.8.9 0 1.8-.1 2.7-.3s1.7-.5 2.4-.8 1.4-.7 2-1.2 1-1 1.3-1.5l.1-.2-1.1-1.1-.2.2c-.5.4-1.4.8-2.5 1.1s-2.3.4-3.4.4c-1.4 0-2.5-.2-3.5-.7-1-.4-1.8-1-2.5-1.8s-1.2-1.7-1.5-2.7c-.3-.9-.5-1.9-.5-3h15.2l.1-.3c.1-.6.2-1.2.3-1.7 0-.5.1-1 .1-1.5 0-1.6-.3-3-.8-4.1-.7-1.2-1.4-2.1-2.3-2.8zm-6.9.6c1.5 0 2.6.5 3.3 1.5s1.1 2.4 1.1 4.1c0 .2 0 1-.1 1.1h-9.9c.2-2.5.8-4.2 1.6-5.2 1-1 2.3-1.5 4-1.5zm-140.1 20.8h8.6v-1.7c-.4-.2-.9-.5-1.3-.7-.3-.1-.5-.2-.8-.4l4.7-6.6 4.7 6.6c-.2.1-.5.2-.8.3-.4.2-1 .5-1.4.7v1.8h10.3v-1.7c-.4-.2-1-.5-1.4-.7s-.8-.3-1.2-.4l-7.2-9.5 6.2-7.9c1.1-.3 2.2-.8 2.8-1.2v-1.6h-8.5v1.6c.5.4 1.3.8 2.2 1.1l-4.3 6-4.3-6c.3-.1.6-.2.8-.4.4-.2.9-.5 1.3-.7v-1.6h-10.1v1.6c.4.2 1 .6 1.3.7.3.2.7.3 1.1.5l6.8 8.7-6.7 8.6c-.9.2-1.9.7-2.8 1.2zm25-20h4v13.8c0 2.3.4 4 1.4 5.1 1.1 1.1 2.6 1.6 4.6 1.6.8 0 1.5-.1 2.2-.3s1.4-.4 2-.7 1.1-.6 1.6-.9 1.3-1.1 1.3-1.1l-.6-1.1s-1.6.4-2.4.5c-.9.1-1.6.1-2.1.1-1.1 0-1.8-.3-2.4-1s-.8-1.9-.8-3.6v-12.4h7v-3h-7v-6h-1.7-.1c-.6.2-1.2.5-1.7.8s-1.4 1-1.4 1v4c-1.3.3-2.8.8-4 1.5zm68 0h4v13.8c0 2.3.4 4 1.4 5.1 1.1 1.1 2.6 1.6 4.6 1.6.8 0 1.5-.1 2.2-.3s1.4-.4 2-.7 1.1-.6 1.6-.9 1.3-1.1 1.3-1.1l-.6-1.1s-1.6.4-2.4.5c-.9.1-1.6.1-2.1.1-1.1 0-1.8-.3-2.4-1s-.8-1.9-.8-3.6v-12.4h7v-3h-7v-6h-1.7-.1c-.6.2-1.2.5-1.7.8s-1.4 1-1.4 1v3.9c-1.3.3-2.8.8-4 1.5v1.8zm18 0h4v13.8c0 2.3.4 4 1.4 5.1 1.1 1.1 2.6 1.6 4.6 1.6.8 0 1.5-.1 2.2-.3s1.4-.4 2-.7 1.1-.6 1.6-.9 1.3-1.1 1.3-1.1l-.6-1.1s-1.6.4-2.4.5c-.9.1-1.6.1-2.1.1-1.1 0-1.8-.3-2.4-1s-.8-1.9-.8-3.6v-12.4h7v-3h-7v-6h-1.7-.1c-.6.2-1.2.5-1.7.8s-1.4 1-1.4 1v3.9c-1.3.3-2.8.8-4 1.5v1.8zm-56 27.3c-.6-.3-1.2-.6-1.8-.8-.4-.1-.8-.2-1.2-.3v-6.4c.6.2 1.2.4 1.8.5.7.1 1.6.2 2.8.2 1.7 0 3.3-.3 4.7-.9s2.6-1.4 3.6-2.5 1.8-2.4 2.3-4c.5-1.5.8-3.4.8-5.3 0-4-.8-6.9-2.4-8.8-1.6-1.8-3.9-2.8-6.8-2.8-1.9 0-3.5.5-4.7 1.4-.9.7-1.6 1.6-2.1 2.6v-4h-1.6c-1 .2-2.1.4-3.1.6-1.1.3-2.1.6-3.2 1l-.1.1v1.7l3 .4v26c-1 .2-2 .7-3 1.1v1.9h11zm7.8-19.2c0 1.5-.2 2.8-.5 4s-.7 2.3-1.3 3.1c-.6.9-1.2 1.6-2 2-.8.5-1.7.7-2.7.7-1.1 0-2-.1-2.7-.2-.6-.1-1.1-.3-1.6-.6v-12.3c.4-1.5.9-2.7 1.8-3.6s2-1.3 3.5-1.3c1 0 1.9.2 2.6.6s1.3.9 1.7 1.6.8 1.6 1 2.6c.1 1 .2 2.2.2 3.4zm30.7 9.1-3.5-.5v-12.6c0-.8 0-1.7-.2-2.5-.2-.9-.4-1.7-1-2.4s-1.4-1.3-2.5-1.8c-1.1-.4-2.5-.7-4.2-.7-1.9 0-3.7.2-5.2.6-1.6.4-3 .9-4.3 1.6l-.2.1v.2c.1.9.2 1.9.5 2.8.2 1 .5 1.9.9 2.8l.1.2h1.8l2.4-5.4c.5-.2 1-.3 1.5-.3.6 0 1.1-.1 1.5-.1.9 0 1.7.2 2.2.5.6.4 1 .9 1.3 1.5.3.7.4 1.5.4 2.5v3.3c-2.2.1-4.2.3-5.9.5-1.8.2-3.3.6-4.5 1.1s-2.2 1.3-2.9 2.2c-.6.9-1 2.1-1 3.5 0 1.9.7 3.4 2 4.5s3.1 1.7 5.2 1.7c1.1 0 2.1-.2 3-.5s1.6-.7 2.3-1.2c.6-.5 1.2-1.1 1.6-1.7.2-.3.3-.5.4-.8 0 .5.1 1.1.1 1.5.1.8.3 1.6.6 2.3l.1.2h1.5c.9-.1 1.9-.4 3-.7 1-.3 2.2-.7 3-1.1zm-10-1.5c-.4.4-.9.7-1.5 1s-1.3.4-2 .4c-1.2 0-2.1-.3-2.7-.9-.7-.6-1-1.5-1-2.7 0-.7.1-1.3.4-1.8.2-.5.7-.9 1.3-1.3.7-.4 1.6-.6 2.8-.8 1.1-.2 2.6-.2 4.3-.3v4.3c-.1.3-.3.6-.5 1-.4.3-.7.7-1.1 1.1zm81.3 2.6c-.7-.3-1.4-.7-2.1-.8-.5-.1-1.1-.2-1.7-.3v-12.7c.4-1 .8-1.7 1.3-2.2s.8-1.1 1.1-1.2h6.5v-1.2-.1c-.2-.5-.3-1-.5-1.5s-.4-.9-.6-1.3l-.1-.1h-.2c-.9-.1-1.8 0-2.6.3s-1.6.6-2.3 1.1-1.3 1-1.9 1.6c-.3.4-.6.7-.9 1.1v-4.1h-1.5c-1 .1-2.1.4-3.1.6-1.1.3-2.4.7-3.4 1.1v1.4l3 .5v16.8c-.4.1-.7.2-1.2.4s-1.3.4-1.8.7v1.6h11.8zm33.2 0c-.8-.5-1.8-.9-3-1.1v-10.9c0-1.8-.3-3.4-.6-4.6-.4-1.2-1-2.2-1.7-3-.7-.7-1.6-1.3-2.7-1.6-1-.3-2.2-.4-3.5-.4-1.9 0-3.5.5-4.8 1.5-1 .8-2 1.6-2.6 2.6v-4.1h-1.5c-1.2.2-2.3.5-3.4.7-1.1.3-2.3.7-3.1 1v1.6l3 .5v16.8c-1.2.3-2.2.7-3 1.1v1.6h11v-1.7c-.9-.5-2.1-.9-3-1.1v-12.5c.2-.6.7-1.1 1-1.7.4-.5.8-1 1.3-1.5.5-.4 1.1-.8 1.7-1s1.4-.4 2.1-.4c1.8 0 3 .6 3.6 1.8.7 1.2 1.1 3 1.1 5.1v10.2c-1 .3-2.2.7-3 1.1v1.7h11z'/%3E%3C/svg%3E");
        background-size: 320px 52px;
    }

    @include setup.dark-mode {
        .masthead a {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 52'%3E%3ClinearGradient id='a' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='29.0957' x2='34.8102' y1='17.0854' y2='22.7999'%3E%3Cstop offset='.125' stop-color='%237b6c35'/%3E%3Cstop offset='.875' stop-color='%23b9aa69'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='29.091' x2='34.7096' y1='17.0802' y2='22.6999'%3E%3Cstop offset='0' stop-color='%232b2414'/%3E%3Cstop offset='.75' stop-color='%23624e22'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='33.5796' x2='29.6476' y1='21.5693' y2='17.6373'%3E%3Cstop offset='.5' stop-color='%232d2400'/%3E%3Cstop offset='.875' stop-color='%23211700'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='8.2175' x2='15.18' y1='43.6723' y2='36.7098'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23666'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='3.942' x2='19.4481' y1='32.3818' y2='47.8878'%3E%3Cstop offset='0' stop-color='%230a0a0a'/%3E%3Cstop offset='.5' stop-color='%230f0f0f'/%3E%3Cstop offset='1' stop-color='%231a1a1a'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='.4425' x2='7.404' y1='35.8974' y2='28.9358'%3E%3Cstop offset='0' stop-color='%23999'/%3E%3Cstop offset='1' stop-color='%231a1a1a'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='15.9934' x2='22.9555' y1='51.4463' y2='44.4843'%3E%3Cstop offset='0' stop-color='%23ccc'/%3E%3Cstop offset='1' stop-color='%23333'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientTransform='matrix(1 0 0 -1 0 51.8898)' gradientUnits='userSpaceOnUse' x1='35.631' x2='50.604' y1='40.3898' y2='40.3898'%3E%3Cstop offset='.125' stop-color='%23cdcdcb'/%3E%3Cstop offset='.875' stop-color='%23a09ea1'/%3E%3C/linearGradient%3E%3Cpath d='m49.8 49.8c-1.8 1.8-3.7 2.7-4.4 1.9-.3-.3 0 0 0 0-.1-.1-4.9-5.3-10.2-10.7-4.9-4.9-10.6-9.8-14.1-13.3s-9.3-10.1-9.4-10.1l-.4-.4 2.8-3.1 3-2.8.4.4s6.6 5.8 10.1 9.4c3.5 3.5 8.4 9.2 13.3 14.1 5.4 5.4 10.5 10 10.8 10.3.7.5 0 2.4-1.9 4.3z'/%3E%3Cpath d='m27.2 21.5c-3.5-3.5-10-9.3-10-9.3l-2.6 2.4-2.4 2.6s5.8 6.6 9.3 10c3.5 3.5 9.2 8.4 14.1 13.3 5.4 5.4 10.1 10.6 10.2 10.7s1.1.5 3.5-1.9 2-3.4 1.9-3.5-5.4-4.9-10.7-10.2c-4.8-4.9-9.8-10.6-13.3-14.1z' fill='url(%23a)'/%3E%3Cpath d='m48.8 49.8c-.2 0-.3-.2-.6-.4-.2-.2-5.2-5.3-10.5-10.6-2-2-5.9-5.6-6.5-6.1-1-.8-.9-1.7-.4-2.5.5-.9 1.8-1.9 2.6-2-.8-.9-1.6-1.8-2.4-2.6-2.3 1.3-5 2.9-5.4 2.5-1.9-1.9-6.6-6.6-8.6-8.6-.9-.9-.8-1.8-.3-2.8s1.9-2.1 2.8-2.4c-1.4-1.2-2.3-2.1-2.3-2.1l-2.6 2.4-2.4 2.6s5.8 6.6 9.3 10c3.5 3.5 9.2 8.4 14.1 13.3 5.4 5.4 10.1 10.6 10.2 10.7s1 .5 3-1.4z' fill='url(%23b)'/%3E%3Cpath d='m39.3 36.5s-.7-.8-1.5-1.6-1.7-1.6-1.7-1.6 1 1.1 1.5 1.6c.6.5 1.7 1.6 1.7 1.6zm-12.2-12.8c-.8-.8-2-2-2-2s1.2 1.5 1.9 2.2.9.6.1-.2zm-1.8 3.1c-1.2-1.2-3.2-3.1-6.5-6.3-2.5-2.5-4.5-4.4-5.1-4.9l-.1.2c.9.8 4.6 4.4 6.6 6.4 2.3 2.3 6.3 6 7.3 6.9s3.1 2.6 4.6 4.2c1.5 1.5 3.2 3 3.2 3s-2.6-2.7-3.8-3.9c-1.1-1.4-4.7-4.2-6.2-5.6zm-.7-5.5-4.1-4.1-4.2-4.2c.5.6 2.4 2.7 4.1 4.4 2 2 4.2 3.9 4.2 3.9zm-5-2.9c.3.3 1.2 1.2 1.9 1.8.6.6 2 2.1 2.3 2.5 1.3 1.3 2.3 2.2 3.9 3.8s5.5 5.6 6.3 6.4c1.3 1.3 3.1 3.2 4.1 4.2.9.9 3 2.9 4.1 4s2.5 2.4 3.4 3.4c.9.9 3.5 3.1 3.5 3.1s-4.1-4-5.5-5.5c-1.5-1.5-3.3-3.1-4.2-4-1.3-1.3-3.3-3.5-4.4-4.5-1.1-1.1-1.4-1.3-1.6-1.5s-2.5-2.6-3-3.1c-.6-.6-5.8-5.9-6.7-6.8-1-1-2-1.9-2.4-2.3s-1.1-1.2-1.5-1.7c-.4-.4-1.2-1.1-1.7-1.6s-1.8-1.7-2.6-2.6l-.5.2c1.4 1.4 2.3 1.9 2.8 2.5.6.5 1.5 1.4 1.8 1.7zm3.2 5.4c1 1 5.1 4.7 5.1 4.7s-2.8-2.7-4.2-4.1-3.2-3.3-4.9-5c-1.5-1.4-3.8-3.7-4.5-4.4l-.2.2c1 .9 4.1 3.9 5 4.8 1.1 1.1 2.7 2.9 3.7 3.8zm20.9 19.4c-1-1-2-1.9-2.9-2.8s-3.5-3.6-3.5-3.6 2.7 3 3.6 4c1 1 1.7 1.5 2.9 2.6 1.2 1.2 2.9 3 3.6 3.7.6.6 1.8 1.5 2.3 1.9l.1-.1c-.6-.5-2.4-2.1-3.2-2.9-1-1-1.9-1.8-2.9-2.8zm3.5 1-2.8-2.8c-.4-.4-1.7-1.4-1.7-1.4s.9 1 1.2 1.3 1.7 1.4 2.7 2.5c.9.9 3.4 3.4 4 4.1.1-.1.2-.2.2-.4-.6-.7-3-2.8-3.6-3.3zm-25.5-22.8c-1.1-1.1-2.5-2.6-2.9-3.1-1.1-1.1-3.3-3-4.1-3.8l-.1.1c.8.8 3.2 3 4.7 4.5.9 1 2.4 2.3 2.4 2.3zm-.9-.5c1.2 1.2 10.2 10 11.3 11.1s2.5 2.6 3.1 3.2c.7.7 2.5 2.6 2.5 2.6s-2.5-2.8-4-4.3-5-5.1-6.7-6.8c-1.1-1.1-6.2-5.8-6.2-5.8z' fill='%236b5600'/%3E%3Cpath d='m35.3 39c-1.7-1.7-4.9-4.7-6.2-6.1-.2-.2-3-3-3.6-3.6s-5.8-5.3-6.7-6.2c-1-1-2-2.3-2.4-2.7s-1.2-1.3-1.6-1.7-1.1-1.1-1.6-1.7c-.2-.2-.3-.3-.4-.3l-.1.1c0 .1.1.2.3.4.6.6 1.3 1.4 1.6 1.8l2 2c.6.6 1.9 2 2.2 2.4 1.3 1.3 2.4 2 4 3.6s5.4 5.4 6.1 6.2c1.3 1.3 3.3 3 4.2 3.9s3 3.1 4.1 4.2 2.5 2.5 3.4 3.5c.9.9 3.5 3.3 3.5 3.3-3.9-4-3.8-4.1-5.1-5.5-1.5-1.4-2.8-2.7-3.7-3.6zm8.7 7c-1.3-1.3-2.3-2.4-3.7-3.8s-3-2.9-4.2-4.1-4.8-4.7-4.8-4.7 3.5 3.7 4.9 5l4 4c1.6 1.6 4 4.1 5 5.1.8.8 3.1 2.8 3.1 2.8l.4-.3c-.2.1-2.8-2.1-4.7-4zm-26.8-25.3c1.2 1.2 8.5 8 9.5 9.1s5.8 5.5 5.8 5.5-3.2-3.2-4.7-4.8-7.3-6.7-9.1-8.6-5-5.1-5-5.1l-.4.2s2.7 2.5 3.9 3.7zm29.1 29.5c-.9-.9-1.8-1.7-1.8-1.7s1 1.3 1.5 1.8l.9.9c.1 0 .2-.1.3-.1-.2-.2-.5-.5-.9-.9zm-19.2-22.4c.5.5.8.7.8.7zm3.4 3.7c0-.1 0-.2 0-.3-1.1-.9-2.6-2.2-3.8-3.2h-.1c.5.4.8.7 1.1.9.6.6 1.7 1.5 2.8 2.6zm.2-1.1c-1-1-2-2.1-2.8-2.9-.1 0-.2.1-.2.1l3 2.9c-.1 0-.1-.1 0-.1zm-12.5-15.4-1.9-2c.3.3 1 1.1 1.8 2zm12.9 14.7c-.3-.4-.6-.7-.8-.8-.2-.2-.9-.9-1.7-1.7 0 0-.1 0-.1.1.7.8 1.7 1.7 2.6 2.6-.1-.1-.1-.1 0-.2zm-14.6-12.5c-.9-.9-1.8-1.8-2.2-2.2-.1.1-.1.2-.2.2.5.4 1.4 1.3 2.3 2.2 0-.1.1-.1.1-.2zm.8-1.4c-.6-.6-1.4-1.4-2-1.9l-.3.2c.9.9 1.6 1.4 2.1 1.8.1.1.1 0 .2-.1zm-1 2.1c-1.2-1.1-2.1-2-2.5-2.4-.1.1-.1.1-.1.2.5.4 1.5 1.4 2.7 2.5 0 0-.1-.2-.1-.3zm.4-1.3c0-.1.1-.1.1-.2-.9-.8-1.7-1.5-2.1-1.9l-.1.1-.1.1c.5.3 1.3 1.1 2.2 1.9z' fill='url(%23c)'/%3E%3Cpath d='m16.7 0s1.4 1 3.5 3.1c2.2 2.2 3.1 3.5 3.1 3.5v1.2l-15.4 15.6h-1.2s-1.8-1.4-3.5-3.1c-2.2-2.2-3.2-3.6-3.2-3.6v-1.2l15.5-15.5z'/%3E%3Cpath d='m16.5.6h-.7l-15.2 15.2v.7s.8 1.1 2.9 3.3c2.1 2.1 3.3 2.9 3.3 2.9h.7l15.3-15.1v-.7s-.8-1.1-2.9-3.3c-2.2-2.2-3.4-3-3.4-3z' fill='url(%23d)'/%3E%3Cpath d='m16.5.6h-.7l-15.2 15.2v.7s.8 1.1 2.9 3.3c2.1 2.1 3.3 2.9 3.3 2.9h.7l15.3-15.1v-.7s-.8-1.1-2.9-3.3c-2.2-2.2-3.4-3-3.4-3z' fill='url(%23d)'/%3E%3Cpath d='m22.2 7.4s-4.2 4.5-7.2 7.5-7.5 7.2-7.5 7.2-1.7-.9-3.5-2.7c-1.9-1.8-2.8-3.4-2.8-3.4s4.3-4.5 7.3-7.5 7.5-7.2 7.5-7.2 1.6.9 3.4 2.8c1.9 1.7 2.8 3.3 2.8 3.3z' fill='url(%23e)'/%3E%3Cpath d='m7.4 22.2s-1.7-.9-3.5-2.7c-1.8-1.9-2.7-3.5-2.7-3.5l-.6-.2v.7s.8 1.1 2.9 3.3c2.1 2.1 3.3 2.9 3.3 2.9h.7z' fill='url(%23f)'/%3E%3Cpath d='m22.8 7.6v-.7s-.8-1.1-2.9-3.3c-2.1-2.1-3.3-2.9-3.3-2.9h-.7l.1.5s1.6.9 3.4 2.8c1.8 1.8 2.8 3.4 2.8 3.4z' fill='url(%23g)'/%3E%3Cpath d='m5.2 49.3c-1.4-1.4-2.6-3.2-2.6-3.2l1.4-1.4s1.5-.4 2.4-1.3l28.9-28.9c1.8-1.8 3.8-5.9 3.8-5.9l5.1-5.1 1.3-.9 6.5 6.6-.9 1.3-5.1 5.1s-4 1.9-5.9 3.8l-28.9 28.8c-.9.9-1.3 2.4-1.3 2.4l-1.4 1.4s-1.9-1.3-3.3-2.7z'/%3E%3Cpath d='m44.5 4-4.9 4.9s-1.2 5.1-3 6.9l-1 1 2.2 2.2 1-1c1.9-1.9 6.9-3 6.9-3l4.9-4.9z' fill='url(%23h)'/%3E%3Cpath d='m37.8 19 .9.9 1-1c1.9-1.9 6-3.9 6-3.9s-5.1 1.2-6.9 3z' fill='%23616161'/%3E%3Cpath d='m34.7 15.9.9.9 1-1c1.9-1.9 3-6.9 3-6.9s-2 4.2-3.9 6z' fill='%23ebe9e9'/%3E%3Cpath d='m35.7 16.7-28 28c-1.1 1.1-2.3 1.6-2.3 1.6l2.9 2.9s.5-1.2 1.6-2.3l28-28z' fill='%23fc3'/%3E%3Cpath d='m3.5 46.1s1.2 1.7 2.2 2.7 2.8 2.3 2.8 2.3z' fill='%23bfbfbf'/%3E%3Cpath d='m50.6 10.1.6-.8-5.8-5.8-.9.5' fill='%23ebe9e9'/%3E%3Cpath d='m7.4 50.1.9-.9 1.1 1.1-.9.9z' fill='%233d2812'/%3E%3Cpath d='m4.5 47.2-1.1-1.1.9-.9 1.1 1.1z' fill='%23e2d9ac'/%3E%3Cpath d='m8.3 49.2-.9.9-2.9-2.9.9-.9z' fill='%23fcc332'/%3E%3Cpath d='m38.8 19.8-.9-.9-28 28c-1.1 1.1-1.6 2.3-1.6 2.3l1.1 1.1s.4-1.4 1.4-2.5z' fill='%23473015'/%3E%3Cpath d='m34.8 15.8-28 28c-1.1 1.1-2.5 1.4-2.5 1.4l1.1 1.1s1.2-.5 2.3-1.6l28-28z' fill='%23ede5b2'/%3E%3Cpath d='m93.5 42v-1.8s-1.6-.5-2.4-.7c-.6-.2-1.4-.3-2.2-.5v-26h7l2.2 6h1.8c.1-.6.2-1.2.2-2 .1-.8.2-2 .2-2.7s.1-1 .2-1.8c0-.8.1-1.2.1-1.8v-.7h-28.4v.7c0 .6.1 1.1.1 1.8 0 .8.1 1 .2 1.8s.2 2 .2 2.7c.1.8.2 1.4.2 2h1.8l2.2-6h7v26c-.7.1-1.5.3-2.2.5s-2.4.7-2.4.7v1.8zm24.5-21.4c-.9-.7-1.9-1.2-3.1-1.4-1.1-.3-2.3-.4-3.5-.4-3.6 0-6.4 1-8.4 3.1-2 2-3 5-3 8.8 0 1.8.3 3.4.8 4.9.5 1.4 1.3 2.7 2.3 3.8 1 1 2.3 1.9 3.8 2.4 1.5.6 3.3.8 5.2.8.9 0 1.8-.1 2.7-.3s1.7-.5 2.4-.8 1.4-.7 2-1.2 1-1 1.3-1.5l.1-.2-1.1-1.1-.2.2c-.5.4-1.4.8-2.5 1.1s-2.3.4-3.4.4c-1.4 0-2.5-.2-3.5-.7-1-.4-1.8-1-2.5-1.8s-1.2-1.7-1.5-2.7c-.3-.9-.5-1.9-.5-3h15.2l.1-.3c.1-.6.2-1.2.3-1.7s.1-1 .1-1.5c0-1.6-.3-3-.8-4.1-.7-1.2-1.4-2.1-2.3-2.8zm-6.9.6c1.5 0 2.6.5 3.3 1.5s1.1 2.4 1.1 4.1c0 .2 0 1-.1 1.1h-9.9c.2-2.5.8-4.2 1.6-5.2 1-1 2.3-1.5 4-1.5zm157.9-.6c-.9-.7-1.9-1.2-3.1-1.4-1.1-.3-2.3-.4-3.5-.4-3.6 0-6.4 1-8.4 3.1-2 2-3 5-3 8.8 0 1.8.3 3.4.8 4.9.5 1.4 1.3 2.7 2.3 3.8 1 1 2.3 1.9 3.8 2.4 1.5.6 3.3.8 5.2.8.9 0 1.8-.1 2.7-.3s1.7-.5 2.4-.8 1.4-.7 2-1.2 1-1 1.3-1.5l.1-.2-1.1-1.1-.2.2c-.5.4-1.4.8-2.5 1.1s-2.3.4-3.4.4c-1.4 0-2.5-.2-3.5-.7-1-.4-1.8-1-2.5-1.8s-1.2-1.7-1.5-2.7c-.3-.9-.5-1.9-.5-3h15.2l.1-.3c.1-.6.2-1.2.3-1.7 0-.5.1-1 .1-1.5 0-1.6-.3-3-.8-4.1-.7-1.2-1.4-2.1-2.3-2.8zm-6.9.6c1.5 0 2.6.5 3.3 1.5s1.1 2.4 1.1 4.1c0 .2 0 1-.1 1.1h-9.9c.2-2.5.8-4.2 1.6-5.2 1-1 2.3-1.5 4-1.5zm-140.1 20.8h8.6v-1.7c-.4-.2-.9-.5-1.3-.7-.3-.1-.5-.2-.8-.4l4.7-6.6 4.7 6.6c-.2.1-.5.2-.8.3-.4.2-1 .5-1.4.7v1.8h10.3v-1.7c-.4-.2-1-.5-1.4-.7s-.8-.3-1.2-.4l-7.2-9.5 6.2-7.9c1.1-.3 2.2-.8 2.8-1.2v-1.6h-8.5v1.6c.5.4 1.3.8 2.2 1.1l-4.3 6-4.3-6c.3-.1.6-.2.8-.4.4-.2.9-.5 1.3-.7v-1.6h-10.1v1.6c.4.2 1 .6 1.3.7.3.2.7.3 1.1.5l6.8 8.7-6.7 8.6c-.9.2-1.9.7-2.8 1.2zm25-20h4v13.8c0 2.3.4 4 1.4 5.1 1.1 1.1 2.6 1.6 4.6 1.6.8 0 1.5-.1 2.2-.3s1.4-.4 2-.7 1.1-.6 1.6-.9 1.3-1.1 1.3-1.1l-.6-1.1s-1.6.4-2.4.5c-.9.1-1.6.1-2.1.1-1.1 0-1.8-.3-2.4-1s-.8-1.9-.8-3.6v-12.4h7v-3h-7v-6h-1.7-.1c-.6.2-1.2.5-1.7.8s-1.4 1-1.4 1v4c-1.3.3-2.8.8-4 1.5zm68 0h4v13.8c0 2.3.4 4 1.4 5.1 1.1 1.1 2.6 1.6 4.6 1.6.8 0 1.5-.1 2.2-.3s1.4-.4 2-.7 1.1-.6 1.6-.9 1.3-1.1 1.3-1.1l-.6-1.1s-1.6.4-2.4.5c-.9.1-1.6.1-2.1.1-1.1 0-1.8-.3-2.4-1s-.8-1.9-.8-3.6v-12.4h7v-3h-7v-6h-1.7-.1c-.6.2-1.2.5-1.7.8s-1.4 1-1.4 1v3.9c-1.3.3-2.8.8-4 1.5zm18 0h4v13.8c0 2.3.4 4 1.4 5.1 1.1 1.1 2.6 1.6 4.6 1.6.8 0 1.5-.1 2.2-.3s1.4-.4 2-.7 1.1-.6 1.6-.9 1.3-1.1 1.3-1.1l-.6-1.1s-1.6.4-2.4.5c-.9.1-1.6.1-2.1.1-1.1 0-1.8-.3-2.4-1s-.8-1.9-.8-3.6v-12.4h7v-3h-7v-6h-1.7-.1c-.6.2-1.2.5-1.7.8s-1.4 1-1.4 1v3.9c-1.3.3-2.8.8-4 1.5zm-56 27.3c-.6-.3-1.2-.6-1.8-.8-.4-.1-.8-.2-1.2-.3v-6.4c.6.2 1.2.4 1.8.5.7.1 1.6.2 2.8.2 1.7 0 3.3-.3 4.7-.9s2.6-1.4 3.6-2.5 1.8-2.4 2.3-4c.5-1.5.8-3.4.8-5.3 0-4-.8-6.9-2.4-8.8-1.6-1.8-3.9-2.8-6.8-2.8-1.9 0-3.5.5-4.7 1.4-.9.7-1.6 1.6-2.1 2.6v-4h-1.6c-1 .2-2.1.4-3.1.6-1.1.3-2.1.6-3.2 1l-.1.1v1.7l3 .4v26c-1 .2-2 .7-3 1.1v1.9h11zm7.8-19.2c0 1.5-.2 2.8-.5 4s-.7 2.3-1.3 3.1c-.6.9-1.2 1.6-2 2-.8.5-1.7.7-2.7.7-1.1 0-2-.1-2.7-.2-.6-.1-1.1-.3-1.6-.6v-12.3c.4-1.5.9-2.7 1.8-3.6s2-1.3 3.5-1.3c1 0 1.9.2 2.6.6s1.3.9 1.7 1.6.8 1.6 1 2.6c.1 1 .2 2.2.2 3.4zm30.7 9.1-3.5-.5v-12.6c0-.8 0-1.7-.2-2.5-.2-.9-.4-1.7-1-2.4s-1.4-1.3-2.5-1.8c-1.1-.4-2.5-.7-4.2-.7-1.9 0-3.7.2-5.2.6-1.6.4-3 .9-4.3 1.6l-.2.1v.2c.1.9.2 1.9.5 2.8.2 1 .5 1.9.9 2.8l.1.2h1.8l2.4-5.4c.5-.2 1-.3 1.5-.3.6 0 1.1-.1 1.5-.1.9 0 1.7.2 2.2.5.6.4 1 .9 1.3 1.5.3.7.4 1.5.4 2.5v3.3c-2.2.1-4.2.3-5.9.5-1.8.2-3.3.6-4.5 1.1s-2.2 1.3-2.9 2.2c-.6.9-1 2.1-1 3.5 0 1.9.7 3.4 2 4.5s3.1 1.7 5.2 1.7c1.1 0 2.1-.2 3-.5s1.6-.7 2.3-1.2c.6-.5 1.2-1.1 1.6-1.7.2-.3.3-.5.4-.8 0 .5.1 1.1.1 1.5.1.8.3 1.6.6 2.3l.1.2h1.5c.9-.1 1.9-.4 3-.7 1-.3 2.2-.7 3-1.1zm-10-1.5c-.4.4-.9.7-1.5 1s-1.3.4-2 .4c-1.2 0-2.1-.3-2.7-.9-.7-.6-1-1.5-1-2.7 0-.7.1-1.3.4-1.8.2-.5.7-.9 1.3-1.3.7-.4 1.6-.6 2.8-.8 1.1-.2 2.6-.2 4.3-.3v4.3c-.1.3-.3.6-.5 1-.4.3-.7.7-1.1 1.1zm81.3 2.6c-.7-.3-1.4-.7-2.1-.8-.5-.1-1.1-.2-1.7-.3v-12.7c.4-1 .8-1.7 1.3-2.2s.8-1.1 1.1-1.2h6.5v-1.2-.1c-.2-.5-.3-1-.5-1.5s-.4-.9-.6-1.3l-.1-.1h-.2c-.9-.1-1.8 0-2.6.3s-1.6.6-2.3 1.1-1.3 1-1.9 1.6c-.3.4-.6.7-.9 1.1v-4.1h-1.5c-1 .1-2.1.4-3.1.6-1.1.3-2.4.7-3.4 1.1v1.4l3 .5v16.8c-.4.1-.7.2-1.2.4s-1.3.4-1.8.7v1.6h11.8zm33.2 0c-.8-.5-1.8-.9-3-1.1v-10.9c0-1.8-.3-3.4-.6-4.6-.4-1.2-1-2.2-1.7-3-.7-.7-1.6-1.3-2.7-1.6-1-.3-2.2-.4-3.5-.4-1.9 0-3.5.5-4.8 1.5-1 .8-2 1.6-2.6 2.6v-4.1h-1.5c-1.2.2-2.3.5-3.4.7-1.1.3-2.3.7-3.1 1v1.6l3 .5v16.8c-1.2.3-2.2.7-3 1.1v1.6h11v-1.7c-.9-.5-2.1-.9-3-1.1v-12.5c.2-.6.7-1.1 1-1.7.4-.5.8-1 1.3-1.5.5-.4 1.1-.8 1.7-1s1.4-.4 2.1-.4c1.8 0 3 .6 3.6 1.8.7 1.2 1.1 3 1.1 5.1v10.2c-1 .3-2.2.7-3 1.1v1.7h11z' fill='%23fff'/%3E%3C/svg%3E");
        }
    }

    /**
     * Changes in styling for search form.
     */

    .search-form {
        top: 0.75em;
        right: 0;

        [type="search"] {
            width: 254px;
        }
    }

    @include setup.dark-mode {
        .search-form [type="search"] {
            background-color: var(--clr-bkgd-form);
        }
    }

    /**
     * Changes in styling for navigation.
     */

    #site-navigation {
        transition: none;

        .js & {
            max-height: none;
            overflow: visible;
        }

        ul {
            display: flex;
            width: 90%;
        }

        li {
            border: 0;

            &:first-child,
            &:last-child {
                border: 0;
            }
        }

        a {
            margin: 0 0.2727273em 0.2727273em -0.2727273em; // 6px / 22px
            padding: 0 0.2727273em; // 6px / 22px
            border: 1px solid var(--clr-bkgd);
            border-radius: setup.$border-radius / 2;
            font-size: 1.375em; // 22px / 16px
            font-weight: normal;

            &:focus {
                border-color: var(--clr-focus);
                outline: 2px solid transparent; // Allows for repainting in high contrast modes.
            }
        }
    }

    @include setup.dark-mode {
        #site-navigation ul {
            background-color: var(--clr-bkgd);
        }
    }

    #site-navigation-toggle,
    .js #site-navigation-toggle {
        display: none;
    }

    /**
     * Changes in styling for site footer.
     */

    .wrapper-footer {
        contains-intrinsic-size: 0 374px;
    }

    .community-details,
    .host-details {
        display: block;
    }

    /**
     * Forum header area.
     */

    #brdwelcome {
        li {
            display: inline;

            span::before {
                content: " \2605 \0020";
                opacity: 0.5;
            }
        }

        li:first-child span::before {
            content: none;
        }
    }

    /**
     * Limit width of login panels on larger screens.
     */

    #rules,
    #regform,
    #page-login .blockform {
        width: 66.666%;
    }

    /**
     * Forum layouts with side menus.
     */

    .block2col .blockmenu {
        width: 22.8571429%;
        float: right;
    }

    /**
     * Forum layouts with side menus.
     */

    .block2col .block,
    .block2col .blockform {
        width: 74.2857143%;
        float: left;
    }

    /**
     * Post reply section.
     */

    #quickpost {
        fieldset,
        .buttons {
            padding-left: 31.4285713%;
        }
    }
}

@media screen and (max-width: setup.$breakpoint-2) {

    /**
     * Changes in styling for search form.
     */

    .search-form {
        [type="search"] {
            padding-right: 0;
            cursor: pointer;

            &:focus {
                width: 254px;
                cursor: auto;
            }
        }
    }

    /**
     * Hide illustrated icons on main index page for small screen widths.
     */

    #page-index .icon {
        display: none;
    }

    /**
     * User bans table.
     */

    #bans1 {
        .tcl {
            width: auto;
        }

        .tc2,
        .tc3 {
            display: none;
        }
    }

    /**
     * User search table (admin).
     */

    #users2 {
        .tcl {
            width: auto;
        }

        .tc2,
        .tc4 {
            display: none;
        }
    }

    /**
     * Forum header area.
     */

    #brdwelcome {
        .conl {
            margin-bottom: 0;
            float: none;
        }

        .conr {
            margin-top: 0;
            float: none;
        }
    }

    /**
     * Forum announcement box.
     */

    #announce {
        .hd h2 {
            float: none;
        }

        .box {
            float: none;
        }
    }

    /**
     * Forum breadcrumbs, postlink and pagination layout.
     */

    .pagepost {
        .pagelink,
        .postlink {
            margin: 0.5em 0;
            float: none;
        }
    }

    /**
     * Forum layouts with side menus.
     */

    .blockform [type="email"],
    .blockform [type="number"],
    .blockform [type="password"],
    .blockform [type="text"],
    .blockform [type="url"],
    .blockform select {
        width: 100%;
    }

    /**
     * Forum topic list, post list and search list page layout.
     */

    #page-index,
    #page-viewforum,
    #page-moderate,
    #page-search {
        .tc2,
        .tc3 {
            // Hide columns at small screen widths
            display: none;
        }

        .tcr {
            // Widen column at small screen widths
            width: 36%;
        }
    }

    /**
     * Post author info section.
     */

    .postleft {
        position: relative;
        width: auto;
        min-height: 60px;
        padding-right: 86px;
        float: none;

        dl {
            margin-bottom: 1em;
        }
    }

    .postavatar {
        position: absolute;
        top: 0;
        right: 1em;

        img {
            margin: 0;
        }
    }

    /**
     * Post author message section.
     */

    .postright {
        width: auto;
        padding: 1px 1em;
        float: none;
        border-radius: 0;
    }

    /**
     * User search table.
     */

    #users1 {
        .tcl {
            width: 50%;
        }

        .tc2 {
            display: none;
        }
    }

    /**
     * Don't let long words break mobile layouts.
     */

    #page-viewforum .tclcon,
    #page-moderate .tclcon,
    #page-search .tclcon {
        hyphens: auto;
    }

    /**
     * Forum navigation menu.
     */

    #brdmenu {
        ul {
            border: 0;
        }

        a {
            margin-top: 0.25em;
            border-radius: setup.$border-radius / 2;
            box-shadow: none;
        }
    }

    #brdmenu .isactive a,
    #navextra1 a {
        border-bottom-color: var(--clr-brdr);

        &:hover {
            border-bottom-color: var(--clr-brdr-x-dark);
        }
    }

    @include setup.dark-mode {
        #brdmenu .isactive a,
        #navextra1 a {
            border-bottom-color: var(--clr-brdr-lite);

            &:hover {
                border-bottom-color: var(--clr-brdr);
            }
        }
    }
}


/* ==========================================================================
   Styling and layout for screen media at 3rd (final) breakpoint
   ========================================================================== */

@media screen and (min-width: setup.$breakpoint-3) {

    /**
     * Adjust baseline.
     */

    html,
    h5,
    h6,
    pre,
    code,
    kbd,
    samp,
    small,
    tfoot,
    .footnote,
    .footnotes {
        line-height: setup.$line-height-desktop;
    }
}

@media screen and (max-width: setup.$breakpoint-3) {

    /**
     * User search table (admin).
     */

    #users2 .tc3 {
        display: none;
    }
}
