/* Social media
   ========================================================================== */

.social-channels {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 0.5em;
    }

    a {
        @include hide-text;

        display: block;
        width: 32px;
        height: 32px;
        background-image: url("../img/branding/misc/icon-sprite.svg");
        background-size: 160px 32px;

        &.facebook {
            background-position: -32px 0;
        }

        &.twitter {
            background-position: -64px 0;
        }

        &.googleplus {
            background-position: -96px 0;
        }

        //&:hover {
            //@include filter(brightness(1.1));
        //}
    }
}

.js .share-buttons {
    float: right;
    margin: 0 0 -1em 0;
    line-height: 1;
    height: 22px;
    overflow: hidden;

    @include breakpoint(max-width $breakpoint-2) {
        float: left;
        margin: -35px 0 0 0;
    }
}

/* Give sharing buttons 22px of space; size is hardcoded */
@include breakpoint(max-width $breakpoint-2) {
    .js #page-viewtopic .linkst .crumbs {
        margin-top: 50px;
    }
}


/* Gists
   ========================================================================== */

.gist {
    table {
        margin: 0 !important;
    }

    td {
        border: 0 !important;
    }
}
