@use "../setup";
@use "sass:math";

/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 *
 * 1. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    font-size: setup.$base-font-size;
    line-height: setup.$base-line-height;
    text-size-adjust: 100%; /* 1 */
}

/**
 * Global font.
 *
 * 1. Enable font ligatures globally, where supported by OpenType fonts.
 */

body {
    font-family: var(--font-sans-serif);
    font-feature-settings: "liga"; /* 1 */
}

/**
 * Harmonize size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: var(--font-serif);
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6, {
        color: var(--clr-text-promoted);
    }
}

h1,
h2,
h3 {
    letter-spacing: -0.25px;
}

h1 {
    margin: 0.6315789em 0; // 24px / 38px
    font-size: 2.375rem; // 38px / 16px
    line-height: 1.1842105; // 45px / 38px
}

h2 {
    margin: 0.8571429em 0; // 24px / 28px
    font-size: 1.75rem; // 28px / 16px
    line-height: 1.25; // 35px / 28px
}

h3 {
    margin: 1em 0; // 22px
    font-size: 1.375rem; // 22px / 16px
    line-height: 1.3181818; // 29px / 22px
}

h4 {
    margin: 0.8888889em 0; // 16px / 18px
    font-size: 1.125rem; // 18px / 16px
    line-height: 1.4444444; // 26px / 18px
}

h5,
h6 {
    margin: 1em 0; // 16px
    font-size: 1rem;
    line-height: setup.$small-line-height;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: 700;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Oxford English quote behaviour (quotes: ‘ ’, quotes within quotes: “ ”).
 */

q,
blockquote {
    quotes: "\2018" "\2019" "\201C" "\201D";
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 1em 0;
    padding: 1px 1em 1px 1.5em;
    border-left: 0.25em solid var(--clr-hilite);
    border-radius: 0 setup.$border-radius setup.$border-radius 0;
    background-color: var(--clr-hilite-box);
}

/**
 * 1. Remove the bottom border in Chrome 57+.
 * 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
 */

abbr[title] {
    border-bottom: 0; /* 1 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: math.div(setup.$border-radius, 2);
    background: var(--clr-hilite-box);
    color: var(--clr-text);
}

/**
 * Harmonize size and style of computer text.
 *
 * 1. Don't use ligatures on monospace font.
 */

pre { white-space: pre-wrap; }

pre,
code,
kbd,
samp {
    border: 1px solid var(--clr-brdr-x-lite);
    border-radius: 0.2857143em; // 4px / 14px
    background-color: var(--clr-bkgd-box);
    color: var(--clr-text);
    font-family: var(--font-monospaced);
    font-feature-settings: normal; /* 1 */
    font-size: setup.$code-font-size;
}

code,
kbd,
samp {
    padding: 1px 0.2142857em; // 3px / 14px
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Truncate deep code boxes.
 * 2. Contain overflow in all browsers.
 * 3. Don't wrap long words.
 * 4. Overflow by default is bad.
 * 5. Set tab size to 4 spaces.
 */

pre {
    box-sizing: border-box;
    max-height: 50vh; /* 1 */
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    overflow-x: auto; /* 2 */
    word-wrap: normal; /* 3 */
    white-space: pre-wrap; /* 4 */
    tab-size: 4; /* 5 */

    code {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1em; // 14px
        hyphens: none;
        word-wrap: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: pre;
    }
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
sup.footnote, // override Textile class
sup {
    position: relative;
    font-size: 0.75em; // 12px / 16px
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonize size and style of small text.
 */

small,
tfoot,
.footnote {
    font-size: setup.$small-font-size;
}

/**
 * 1. Show the overflow in Edge and IE.
 * 2. Add the correct box sizing in Firefox.
 */

hr {
    box-sizing: content-box; /* 2 */
    height: 0;
    overflow: visible; /* 1 */
    border: 0; // remove the default `hr` border
    border-bottom: 1px solid var(--clr-brdr);
}
