/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 */

html {
    font-size: $base-font-size;
    line-height: $line-height-mobile;
}

/**
 * Global font.
 *
 * 1. Enable font ligatures globally, where supported by OpenType fonts.
 */

body {
    font-family: $font-sans-serif;
    font-feature-settings: "liga"; /* 1 */
}

/**
 * Harmonize size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: $font-serif;
}

h1 {
    margin: 0.6315789em 0; // 24px / 38px
    font-size: 2.375em; // 38px / 16px
    letter-spacing: -0.25px;
    line-height: 1.1842105; // 45px / 38px
}

h2 {
    margin: 0.8571429em 0; // 24px / 28px
    font-size: 1.75em; // 28px / 16px
    letter-spacing: -0.25px;
    line-height: 1.25; // 35px / 28px
}

h3 {
    margin: 1em 0; // 22px
    font-size: 1.375em; // 22px / 16px
    letter-spacing: -0.25px;
    line-height: 1.3181818; // 29px / 22px
}

h4 {
    margin: 0.8888889em 0; // 16px / 18px
    font-size: 1.125em; // 18px / 16px
    line-height: 1.4444444; // 26px / 18px
}

h5,
h6 {
    margin: 1em 0; // 16px
    font-size: 1em;
    line-height: $line-height-mobile;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    margin: 1em 0;
    padding: 1px 1em 1px 1.5em;
    border-left: 0.25em solid $color-highlight;
    border-radius: 0 $border-radius $border-radius 0;
    background-color: $color-highlight-box;
}

/**
 * 1. Remove the bottom border in Chrome 57+.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: 0; /* 1 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: $border-radius / 2;
    background: $color-selected;
    color: $color-text;
}

/**
 * Harmonize size and style of computer text.
 *
 * 1. Don't use ligatures on monospace font.
 */

pre,
code,
kbd,
samp {
    border: 1px solid lighten($color-border, 9%);
    border-radius: 0.2857143em; // 4px / 14px
    background-color: $color-background-box;
    color: $color-text;
    font-family: $font-code;
    font-size: $code-font-size;
    line-height: $line-height-mobile;
    font-feature-settings: normal; /* 1 */
}

code,
kbd,
samp {
    padding: 1px 0.2142857em; // 3px / 14px
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Truncate deep code boxes.
 * 2. Don't wrap long words.
 * 3. Contain overflow in all browsers.
 * 4. Set tab size to 4 spaces.
 */

pre {
    max-height: 50vh; /* 1 */
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    word-wrap: normal; /* 2 */
    overflow-x: auto; /* 3 */
    tab-size: 4; /* 4 */

    code {
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1em; // 14px
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        hyphens: none;
    }
}

code {
    text-align: left;
    direction: ltr;
    tab-size: 4; /* 4 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
// override Textile class
sup.footnote,
sup {
    position: relative;
    font-size: 0.625em; // 10px / 16px
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Use small caps for Textile abbreviations/acronyms of 3 letters of more.
 */

.caps {
    font-family: $font-serif-caps;
    font-size: 87.5%;
}

/**
 * Harmonize size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote {
    font-size: $small-font-size;
    line-height: $line-height-mobile;
}

figcaption {
    margin: 0.5em 0;
}

/**
 * 1. Show the overflow in Edge and IE.
 * 2. Add the correct box sizing in Firefox.
 */

hr {
    height: 0;
    border: 0; // remove the default `hr` border
    border-bottom: 1px solid $color-border;
    overflow: visible; /* 1 */
    box-sizing: content-box; /* 2 */
}
