/* correct block display not defined in IE8-9 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

/* address `[hidden]` styling not present in IE8-9 */
[hidden] {
    display: none;
}

/* remove tap delay in IE10+ */
a,
input,
button {
    -ms-touch-action: none;
}


/* Clearfix
   ========================================================================== */

header,
footer,
[role="navigation"] ul,
[role="navigation"] ol,
.clearfix,
.container {
    @include pie-clearfix;
}
