<ifModule mod_headers.c>
    Header append Cache-Control "public"

    <FilesMatch "\.(css|gz|js|svg)$">
        Header append Vary "Accept-Encoding"
    </FilesMatch>
</ifModule>

<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</ifModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteRule ^(.*?)(?:\.[0-9]+)?\.(css|js|svg)$ $1.$2.gz [L]

    RewriteRule ^(.*?)\.[0-9]+\.(css|js|svg)$ $1.$2 [L]
</IfModule>

AddEncoding x-gzip .gz

<FilesMatch \.css\.gz$>
    ForceType text/css
</FilesMatch>

<FilesMatch \.js\.gz$>
    ForceType application/x-javascript
</FilesMatch>

<FilesMatch \.svg\.gz$>
    ForceType image/svg+xml
</FilesMatch>
