/* Forum icons
   ========================================================================== */

/**
 * Don't show icons on topic lists.
 */

.icon {
    display: none;
}

/**
 * Illustrated icons on main index page.
 */

#page-index .icon {
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 1em;
    float: left;
    background-image: url("../img/forum-icons.png");
    background-size: 1020px 120px;
    background-position-y: 0;

    @media (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
        background-image: url("../img/forum-icons@2x.png");
    }

    &.icon-new {
        background-position-y: -60px;
    }

    .nosize {
        display: none;
    }
}

@include dark-mode {
    #page-index .icon {
        background-image: url("../img/dark-forum-icons.png");

        @media (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
            background-image: url("../img/dark-forum-icons@2x.png");
        }
    }
}

#idx1 tbody {
    tr:nth-child(1) .icon {
        background-position-x: 0;
    }

    tr:nth-child(2) .icon {
        background-position-x: -60px;
    }

    tr:nth-child(3) .icon {
        background-position-x: -120px;
    }

    tr:nth-child(4) .icon {
        background-position-x: -180px;
    }
}

#idx2 tbody {
    tr:nth-child(1) .icon {
        background-position-x: -240px;
    }

    tr:nth-child(2) .icon {
        background-position-x: -300px;
    }

    tr:nth-child(3) .icon {
        background-position-x: -360px;
    }

    tr:nth-child(4) .icon {
        background-position-x: -420px;
    }

    tr:nth-child(5) .icon {
        background-position-x: -480px;
    }

    tr:nth-child(6) .icon {
        background-position-x: -540px;
    }

    tr:nth-child(7) .icon {
        background-position-x: -600px;
    }

    tr:nth-child(8) .icon {
        background-position-x: -660px;
    }
}

#idx3 tbody {
    tr:nth-child(1) .icon {
        background-position-x: -720px;
    }

    tr:nth-child(2) .icon {
        background-position-x: -780px;
    }

    tr:nth-child(3) .icon {
        background-position-x: -840px;
    }

    tr:nth-child(4) .icon {
        background-position-x: -900px;
    }

    tr:nth-child(5) .icon {
        background-position-x: -960px;
    }

    tr:nth-child(6) .icon {
        background-position-x: -1020px;
    }

    tr:nth-child(7) .icon {
        background-position-x: -1080px;
    }
}
