/* Forum indicators
   ========================================================================== */

/**
 * `tr` hightlight for new posts.
 */

.inew {
    background-color: $color-highlight-box;
}

/**
 * Text highlights.
 */

.warntext,
#page-delete .forminfo p {
    display: block;
    padding: 0.5em 1em; // 8px / 16px
    border: 1px solid;
    border-radius: 0.25em; // 4px / 16px
}

.stickytext,
.closedtext,
.movedtext {
    margin-right: 0.33em;
    padding: 1px 0.25em; // 4px / 16px
    border: 1px solid;
    border-radius: 0.25em; // 4px / 16px
}

.warntext {
    border-color: $color-warning-border;
    background: $color-warning-background;
    color: $color-warning-text;
}

.stickytext {
    border-color: $color-success-border;
    background: $color-success-background;
    color: $color-success-text;
}

.closedtext,
#page-delete .forminfo p {
    border-color: $color-error-border;
    background: $color-error-background;
    color: $color-error-text;
}

.movedtext {
    border-color: $color-info-border;
    background: $color-info-background;
    color: $color-info-text;
}

/**
 * Indicate posts participated in.
 */

.ipost {
    @include hide-text;

    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-right: 0.33em;
    border-radius: 50%;
    background-color: #fbcf5c;
}
