/* Forum admin layout
   ========================================================================== */

/**
 * Hide the duplicate submit button at top.
 */

#adminconsole p.submittop {
    display: none;
}

#adminconsole fieldset {
    th[scope="row"] {
        width: 30%;
    }

    input[type="submit"] {
        margin: 1em 0;
    }

    td span,
    th span {
        display: block;
        margin-top: 0.5em;
    }

    td.location span {
        display: inline-block;
    }
}

#forumperms thead th,
#forumperms tbody td {
    text-align: center;
}

/**
 * Column widths.
 */

#categoryedit .tcl {
    width: 50%;
}

#edforum .tcl,
#edforum .tc2,
#censoring .tcl,
#censoring .tc2 {
    width: 30%;
}

/**
 * User bans table.
 */

#bans1 {
    .tcl {
        width: 30%;
    }

    .tc3 {
        width: 9em;
    }

    .tc4,
    .tc5,
    .tc6 {
        display: none;
    }

    .tcr {
        width: 7em;
    }
}

/**
 * User search table (admin).
 */

#users2 {
    .tcl {
        width: 20%;
    }

    .tc5 {
        display: none;
    }
}

/**
 * Hide 'select all' link (we filter out inline JavaScript, so it doesn't work).
 */

.modbuttons a {
    display: none;
}
