@use "../../setup";

.clearer::after {
    content: "";
    display: table;
    clear: both;
}

.clearl {
    clear: left;
}

.clearr {
    clear: right;
}


/* Forum hidden elements
   ========================================================================== */

#brdstats,
#vf h2,
#brdfooter h2,
#quickpost > h2,
.blockform > h2,
.modlist,
#navrules,
.textpattern-fluxbb-t,
.postlinksb .postlink,
#brdfooternav,
.usernamefield {
    display: none !important;
}


/* Forum global layout
   ========================================================================== */

thead td,
thead th {
    text-transform: uppercase;
}

.buttons a,
.modbuttons input {
    margin-left: 0.3333333em;
}

.tcmod {
    width: 4.5em;
    text-align: center;
}

.infldset {
    margin: 1em 0;

    label {
        display: block;
        margin: 1em 0;

        &.conl {
            display: inline-block;
            margin: 0 0.5em 0 0;
        }
    }
}

.rbox {
    [type="checkbox"],
    [type="radio"] {
        margin-right: 0.3333333em;
    }
}


/* Forum header area
   ========================================================================== */

#brdwelcome {
    border-bottom: 1px solid var(--clr-brdr);

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    ul {
        padding: 0;
        list-style: none;
    }

    .conl {
        float: left;
    }

    .conr {
        float: right;
    }
}

@include setup.dark-mode {
    #brdwelcome {
        border-bottom-color: var(--clr-brdr-lite);
    }
}


/* Forum announcement box
   ========================================================================== */

#announce {
    padding: 1px 0;
    border-bottom: 1px solid var(--clr-brdr);
    background-color: var(--clr-hilite-box);

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    .hd h2 {
        margin: 0.5em 1em 0 0;
        float: left;
        font-size: setup.$base-font-size;
        line-height: setup.$line-height-desktop;
        text-transform: uppercase;
    }

    .box {
        margin: 0.5em 0;
        float: left;
    }
}

@include setup.dark-mode {
    #announce {
        border-bottom-color: var(--clr-brdr-lite);
    }
}


/* Forum breadcrumbs, postlink and pagination layout
   ========================================================================== */

.crumbs {
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
    }
}

.linkst .crumbs {
    li {
        display: block;
        margin-bottom: 0.5em;

        strong {
            font-family: var(--font-serif);
            font-size: 1.75em; // 28px / 16px
            line-height: 1.25; // 35px / 30px

            a {
                color: var(--clr-text-promoted);
                text-decoration-color: rgba(var(--clr-text-promoted), 0.5);  /* 4 */
            }
        }
    }

    li:first-child,
    span {
        display: none;
    }
}

.pagepost {
    &::after {
        content: "";
        display: table;
        clear: both;
    }

    .pagelink {
        margin: 0;
        padding: 0.5em 0;
        float: left;
    }

    .postlink {
        margin: 0;
        float: right;
    }
}


/* Forum layouts with side menus
   ========================================================================== */

.block2col .blockmenu {
    box-sizing: border-box;
    margin: 1.75em 0 1em;
    padding: 0 1em;
    border: 1px solid var(--clr-brdr);
    background-color: var(--clr-bkgd-box);

    h2 {
        font-size: 1.125em; // 18px / 16px
        line-height: 1.4444444; // 26px / 18px
    }

    ul {
        padding: 0;
        list-style: none;
    }
}

/**
 * Blockmenu active section.
 */

.blockmenu .isactive {
    font-weight: bold;
}


/* Forum topic list, post list and search list page layout
   ========================================================================== */

#page-index,
#page-viewforum,
#page-moderate,
#page-search {
    .tc2,
    .tc3 {
        width: 10%;
    }

    .tcr {
        width: 24%;
    }

    td {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

#page-search .tc2 {
    width: 22%;
}

.tclcon {
    position: relative;
    min-height: 1px;
    overflow: hidden;

    .tclcon div {
        width: 100%;
        overflow: hidden;
    }

    h3 {
        margin: 0 0 0.25em;

        .newtext {
            display: inline-block;
            font-family: var(--font-sans-serif);
            font-size: 0.65em;
            font-weight: normal;
        }
    }
}

#page-viewforum .tclcon,
#page-moderate .tclcon,
#page-search .tclcon {
    a {
        font-weight: bold;
    }

    .pagestext,
    .newtext {
        display: inline-block;

        a {
            font-weight: normal;
        }
    }
}


/* Forum posts page layout
   ========================================================================== */

.blockpost {
    margin: 0.5em 0;
    border: 1px solid var(--clr-brdr);
    border-radius: setup.$border-radius / 2;
    background-color: var(--clr-bkgd-box);

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    .postleft h2 {
        margin: 1em;
        font-family: var(--font-sans-serif);
        font-size: 1em;

        .conr {
            color: var(--clr-info-text);
            font-weight: normal;
        }
    }
}

@include setup.dark-mode {
    .blockpost {
        border-color: var(--clr-brdr-lite);
    }
}

/**
 * Post author info section.
 */

.postleft {
    width: 30%;
    float: left;

    dl {
        margin: 0;
        padding: 0 1em;
    }

    dt {
        font-family: var(--font-serif);
        font-size: 1.125em; // 18px / 16px
        font-style: normal;
        line-height: 1.4444444; // 26px / 18px

        a {
            color: var(--clr-text-promoted);
        }
    }

    dd {
        margin: 0;
    }
}

.postavatar img {
    margin: 0.5em 0;
}

.usercontacts {
    span::before {
        content: "| \0020";
    }

    span:first-child::before {
        content: none;
    }
}

/**
 * Post author message section.
 */

.postright {
    width: 63%;
    padding: 0 2.8%;
    float: right;
    overflow: hidden;
    border-radius: 0 (setup.$border-radius / 2);
    background-color: var(--clr-bkgd);
    word-wrap: break-word;

    > h3 {
        display: none;
    }
}

.postsignature hr {
    border-style: dashed;
}

.postfoot {
    clear: both;
}

/**
 * Post author online/offline section.
 */

.postfootleft {
    width: 25%;
    float: left;

    p {
        padding: 0 1em;
    }

    span,
    strong {
        display: inline-block;
        padding: 0.125em 0.33em;
        border: 1px solid;
        border-radius: setup.$border-radius / 2;
        font-size: setup.$small-font-size;
        line-height: setup.$line-height-mobile;
    }

    span { // offline
        border-color: var(--clr-brdr-x-lite);
        background: var(--clr-bkgd-box);
        color: var(--clr-text-demoted);
    }

    strong { // online
        border-color: var(--clr-success-brdr);
        background: var(--clr-success-bkgd);
        color: var(--clr-success-text);
        font-weight: normal;
    }
}

/**
 * Post author quote/report/etc. section.
 */

.postfootright {
    width: 74%;
    float: right;

    ul {
        padding: 0;
        padding-right: 1em;
        list-style: none;
        text-align: right;
    }

    li {
        display: inline;

        span::before {
            content: "| \0020";
        }
    }

    li:first-child span::before {
        content: none;
    }
}

/**
 * Post reply section.
 */

#quickpost {
    margin: 0.5em 0 1em;
    border: 1px solid var(--clr-brdr);
    background-color: hsl(48, 100%, 96%);

    fieldset {
        border: 0;
    }

    legend {
        margin: 1em 0 0;
        padding: 0;
        border: 0;
        background-color: hsl(48, 100%, 96%);
        font-size: 1.125em; // 18px / 16px
        line-height: 1.4444444; // 26px / 18px
    }

    .buttons {
        padding: 0 1em;
    }
}

@include setup.dark-mode {
    #quickpost {
        border-color: var(--clr-brdr-lite);
        background-color: hsl(48, 20%, 26%);

        legend {
            background-color: hsl(48, 20%, 26%);
        }
    }
}

#postreview .postleft {
    padding-top: 1em;
}

/**
 * Post edit page.
 */

#edit textarea {
    height: 50vh;
}


/* Forum misc layout
   ========================================================================== */

/**
 * User search table.
 */

#users1 {
    .tcl,
    .tc2,
    .tc3,
    .tcr {
        width: 25%;
    }
}


/* Forum footer area
   ========================================================================== */

#brdfooter {
    clear: both;
}

/**
 * Moderator controls.
 */

#modcontrols {
    dl {
        margin-top: 0;
    }

    dt {
        font-style: normal;
    }

    dd {
        margin: 0;
    }
}
