.clearer {
    @include pie-clearfix;
}


/* Forum hidden elements
   ========================================================================== */

#navsearch,
#bblinks,
#brdfooter h2,
#brdstats h2,
.modlist,
.postquote,
.textpattern-fluxbb-t,
.postlinksb .postlink {
    display: none !important;
}


/* Forum grid layout
   ========================================================================== */

.block2col .blockmenu {
    border: 1px solid $color-border;
    margin: 1em 0;
    padding: 0 1em;
    background-color: $color-background-box;

    @include breakpoint($breakpoint-2) {
        @include box-sizing(border-box);

        width: 22.8571429%;
        float: left;
        margin-right: 1em -100% 1em 0%;
        clear: both;
    }

    h2 {
        @include adjust-font-size-to(18px, 1.2);
    }
}

.block2col .block,
.block2col .blockform {
    @include breakpoint($breakpoint-2) {
        width: 74.2857143%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
    }
}


/* Forum menu
   ========================================================================== */

#brdmenu {
    ul {
        list-style: none;
        margin-bottom: 0;
        border-bottom: 1px solid $color-border;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    a {
        @include box-shadow(inset 0 -0.1538462em 0.2307692em rgba(153, 153, 153, 0.33));
        @include border-top-right-radius(1em 66%);
        @include border-top-left-radius(1em 66%);

        display: block;
        border: 1px solid $color-border;
        border-bottom: 0;
        padding: 0.5384615em 1em;
        color: $color-text;
        background-color: $color-background-box;

        &:hover,
        &:visited {
            color: $color-text;
            text-decoration: none;
        }

        &:hover {
            background-color: #e3edfc;
        }

        &:active {
            color: darken($color-text, 10%);
            background-color: #c7dbfa;
            text-decoration: none;
        }

        &:focus {
            outline: 0;
            background-color: #e3edfc;
        }
    }
}

#brdwelcome {
    @include pie-clearfix;

    border-bottom: 1px solid $color-border;

    ul {
        list-style: none;
        padding: 0;
    }

    @include breakpoint($breakpoint-2) {
        li {
            display: inline;
    
            span:before {
                color: lighten($color-text, 33%);
                content: "\272D \0020";
            }
        }
    
        li:first-child span:before {
            content: none;
        }
    }

    .conl {
        float: left;
    
        @include breakpoint(max-width $breakpoint-2) {
            float: none;
            margin-bottom: 0;
        }
    }
    
    .conr {
        float: right;
    
        @include breakpoint(max-width $breakpoint-2) {
            float: none;
            margin-top: 0;
        }
    }
}

/* Global layout
   ========================================================================== */

thead td,
thead th {
    text-transform: uppercase;
}

.buttons a {
    margin-left: 1em;
}

.tclcon {
    position: relative;
    height: 1%;
    min-height: 1px;
    overflow: hidden;

    .tclcon div {
        width: 100%;
        overflow: hidden;
    }

    h3 {
        margin-top: 0;
        a {
            color: $color-text;
        }
    }
}

.blockform input[type="email"],
.blockform input[type="number"],
.blockform input[type="password"],
.blockform input[type="text"],
.blockform input[type="url"],
.blockform select {
    max-width: 90%;

    @include breakpoint(max-width $breakpoint-2) {
         width: 100%;
         max-width: 100%;
    }
}


/* Breadcrumb links
   ========================================================================== */

.crumbs {
    @include adjust-font-size-to(11px, 0.8);

    list-style: none;
    padding: 0;

    li {
        display: inline-block;
    }
}


/* Topic list and post list page layout
   ========================================================================== */

#page-index,
#page-viewforum {
    .tc2,
    .tc3 {
        width: 11%;
    
        // hide columns at small screen widths
        @include breakpoint(max-width $breakpoint-2) {
            display: none;
        }
    }

    .tcr {
        width: 22%;
    
        // widen column at small screen widths
        @include breakpoint(max-width $breakpoint-2) {
            width: 35%;
        }
    }
}

#page-viewforum .tclcon {
    a {
        font-weight: bold;
    }

    .pagestext {
        display: inline-block;

        a {
            font-weight: normal;
        }
    }
}


.infldset {
    margin-bottom: 1em;

    table tbody tr:first-child {
        td,
        th {
            border-top: 1px solid $color-border;
        }
    }

    table thead {
        td,
        th {
            border-bottom: 1px solid $color-border;
        }
    }
}

.modbuttons input {
    margin: 0 0 0 0.34em;
}
