/* Forum admin layout
   ========================================================================== */

#adminconsole fieldset {
    th {
        width: 33%;
    }

    td span,
    th span {
        display: block;
        margin-top: 0.5em;
    }
}

#adminconsole fieldset label {
    display: block;

    &.conl {
        display: inline-block;
        margin-right: 0.5em;
    }
}
