/* Forum navigation menu
   ========================================================================== */

#brdmenu {
    ul {

        margin: 1.4em 0 0;
        padding: 0;
        border-bottom: 1px solid $color-border;
        list-style: none;

        &::after {
            display: table;
            clear: both;
            content: "";
        }

        @include breakpoint(max-width $breakpoint-2) {
            margin: 0;
            border: 0;
        }
    }

    a {
        margin: 0 0.25em -1px 0; // 4px / 16px
        padding: 0.5384616em 1em;
        float: left;
        border: 1px solid $color-border;
        background-color: $color-background-box;
        color: $color-text;
        box-shadow: inset 0 -0.125em 0.25em rgba(153, 153, 153, 0.33);

        @include breakpoint(max-width $breakpoint-2) {
            @include box-shadow(none);

            display: block;
            margin-right: 0;
            float: none;
        }

        &:hover,
        &:visited {
            color: $color-text;
            text-decoration: none;
        }

        &:hover {
            background-color: $color-selected;
        }

        &:active {
            background-color: $color-selecting;
            color: darken($color-text, 10%);
            text-decoration: none;
        }

        &:focus {
            outline: 0;
            background-color: $color-selected;
        }
    }
}

#brdmenu .isactive a,
#page-help #navextra1 a {
    @include box-shadow(none);

    border-bottom-color: $color-background;
    background-color: $color-background;

    @include breakpoint(max-width $breakpoint-2) {
        border-bottom-color: $color-border;
    }
}

@include breakpoint(max-width $breakpoint-2) {
    /* adjust top margin on small devices */
    #navindex,
    #page-index #navadmin {
        margin-top: 1em;
    }

    /* hide some non-essential navigation links on small devices to reduce clutter */
    #page-index #navindex,
    #navuserlist,
    #navsearch {
        display: none;
    }
}
