@use "../../setup";

/* Forum navigation menu
   ========================================================================== */

#brdmenu {
    ul {
        margin: 1em 0 0;
        padding: 0;
        border-bottom: 1px solid var(--clr-brdr);
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        position: relative;
        bottom: -1px;
        padding: 0.5em 1em;
        border: 1px solid var(--clr-brdr);
        border-radius: (setup.$border-radius / 2) (setup.$border-radius / 2) 0 0;
        background-color: var(--clr-bkgd-box);
        box-shadow: inset 0 -0.125em 0.25em rgba(#666666, 0.2);
        color: var(--clr-text);
        text-decoration: none;

        &:hover {
            border-color: var(--clr-brdr-x-dark);
            background-color: var(--clr-nav-interact);
        }

        &:active {
            filter: brightness(0.95);
        }

        &:focus {
            border-color: var(--clr-focus);
            outline: 2px solid transparent; // Allows for repainting in high contrast modes.
            background-color: var(--clr-nav-interact);
        }
    }
}

#brdmenu .isactive a,
#navextra1 a {
    border-bottom-color: var(--clr-bkgd);
    background-color: var(--clr-bkgd);
    box-shadow: none;
}

@include setup.dark-mode {
    #brdmenu {
        ul {
            border-bottom-color: var(--clr-brdr-lite);
        }

        a {
            border-color: var(--clr-brdr-lite);
            box-shadow: inset 0 -0.125em 0.25em rgba(#000000, 0.2);

            &:hover {
                border-color: var(--clr-brdr);
            }

            &:focus {
                border-color: var(--clr-focus);
            }
        }
    }

    #brdmenu .isactive a,
    #navextra1 a {
        border-bottom-color: var(--clr-bkgd);
        background-color: var(--clr-bkgd);
        box-shadow: none;
    }
}
