/* Forum navigation menu
   ========================================================================== */

#brdmenu {
    ul {
        margin: 1em 0 0;
        padding: 0;
        border-bottom: 1px solid $color-border;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        position: relative;
        bottom: -1px;
        padding: 0.5em 1em;
        border: 1px solid $color-border;
        background-color: $color-background-box;
        box-shadow: inset 0 -0.125em 0.25em rgba(#666666, 0.2);
        color: $color-text;
        text-decoration: none;

        &:hover {
            border-color: $color-border-extra-dark;
            background-color: $color-selected;
        }

        &:active {
            background-color: $color-selecting;
            color: darken($color-text, 10%);
        }

        &:focus {
            border-color: $color-link-focus;
            outline: 2px solid transparent; // Allows for repainting in high contrast modes.
            background-color: $color-selected;
        }
    }
}

@include dark-mode {
    #brdmenu {
        ul {
            border-bottom-color: $dark-color-border-light;
        }

        a {
            border-color: $dark-color-border-light;
            background-color: $dark-color-background-box;
            box-shadow: inset 0 -0.125em 0.25em rgba(#000000, 0.2);
            color: $dark-color-text;

            &:hover {
                border-color: $dark-color-border;
                background-color: $dark-color-selecting;
            }

            &:active {
                background-color: $dark-color-selected;
                color: tint($dark-color-text, 10%);
            }

            &:focus {
                border-color: $dark-color-link-focus;
                background-color: $dark-color-selecting;
            }
        }
    }
}

#brdmenu .isactive a,
#navextra1 a {
    border-bottom-color: $color-background;
    background-color: $color-background;
    box-shadow: none;
}

@include dark-mode {
    #brdmenu .isactive a,
    #navextra1 a {
        border-bottom-color: $dark-color-background;
        background-color: $dark-color-background;
        box-shadow: none;
    }
}
