@use "../../setup";

/* Forum pagination links
   ========================================================================== */

.pagelink {
    strong,
    a,
    .spacer {
        display: inline-block;
        min-width: 1.25em;
        padding: 0 0.1875em; // 3px / 16px
        text-align: center;
    }

    strong {
        background: var(--clr-text);
        color: var(--clr-text-white-enforced);
        font-weight: 400;
        cursor: default;
    }
}

@include setup.dark-mode {
    .pagelink strong {
        background: var(--clr-bkgd-form);
    }
}
