/* Forum pagination links
   ========================================================================== */

.pagelink {
    strong {
        padding: 0.25em 0.5em;
        border: 1px solid $color-border;
        border-radius: 0.25em; // 4px / 16px
    }

    a {
        padding: 0.25em 0.5em;
        border: 1px solid $color-background;
        border-radius: 0.25em; // 4px / 16px

        &:hover {
            background-color: $color-selected;
        }

        &:active {
            background-color: $color-selecting;
            color: darken($color-text, 10%);
        }
    }
}
